[2018-03-19 23:05] Sarcasm opened #1 "annotation improvement idea"
To follow up on the comment here:

Right now, from the README screenshot we see the following candidates:

[code]

Removing the unnecessary repetition of the identifier, we can have:

[code]

And if a field, is a member of a class (in C++),
the right column could hold the "parent context":

[code]

[2018-03-19 23:14] dgutov commented on #1
Isn't that up to the backend?

[2018-03-20 11:17] sebastiencs commented on #1
Yes the annotation is formatted by the backend, there is not much I can do in this case :/

[2018-03-20 20:04] Sarcasm commented on #1
Indeed, the issue is not on the right project, sorry about that.

[2018-03-20 20:04] #1 closed

[2018-03-27 09:55] a13 opened #2 "all-the-icons integration?"
There's an [all the icons](https://github.com/domtronn/all-the-icons.el) library which provides a way to show icons in emacs. It also has an installable (right from Emacs) collection of icon fonts. I think it would be great to reuse it's possibilities in company-box too.

Thank you.

[2018-03-30 10:11] sebastiencs commented on #2
@a13 It's supposed to be already possible.

I didn't tested, but can you try:
[code]

If it works, can you share the icons you use so I can update the wiki with `all-the-icons` variables

[2018-03-30 11:12] a13 commented on #2
well, It kind of works.

I realized that you use hardcoded icons, not the best approach, TMM, It would be better to use something like
[code]

So when we try to get an icon for elisp, we can use smth like

[code]

and for LSP

[code]

[2018-03-30 11:24] sebastiencs commented on #2
Not sure if "hardcoded" is the right word but yeah your idea is way better.
I will change that, or maybe can you make a PR ? :)

What do you mean exactly ? Are the icons not properly display ?

[2018-03-30 11:35] a13 commented on #2
I'd like to, but sadly I don't have time right now, so It's up to you, thanks!

The problem is not with icons, it constantly breaks up with

[code]

[2018-03-30 11:36] a13 commented on #2
I use GNU Emacs 27.0.50 (build 2, x86_64-pc-linux-gnu, GTK+ Version 3.18.9) of 2018-03-14

[2018-04-01 00:48] Trevoke opened #3 "Let me know when this is on Melpa!"
I'm making some changes to tonini/alchemist.el to use lsp-mode and I could use some pretty output.. :) But I also need the packages to be available on Melpa or I can't distribute this easily to everyone.

[2018-04-09 20:30] technician77 opened #4 "Lowering Emacs requirement to 26.0.91"
The latest official emacs beta built on windows is GNU Emacs 26.0.91 (build 1, x86_64-w64-mingw32) of 2018-01-22. Please lower your requirements to that if possible.

[2018-04-10 00:56] alexmurray commented on #3
It's on MELPA - https://melpa.org/#/company-box

[2018-04-10 01:39] sebastiencs commented on #4
Ah yes, I will change it

[2018-04-10 10:35] sebastiencs commented on #4
@technician77 Done

[2018-04-11 02:47] #4 closed

[2018-04-11 02:49] technician77 opened #5 "Error running timer: (invalid-function company-box--get-frame)"
When using company-box, for testing I used it on the emacs init file, which is obviously elisp, I get the error above. Is there something I overlooked?

[2018-04-11 02:53] technician77 opened #6 "images folder through melpa missing"
When I installed company-box through melpa I got errors that images were missing. Turned out the whole images folder was not in the package folder. After copying it manually from github everything works fine. I don't know much about melpa. I just know some packages seem to come with "extra" content and some download it via curl or something on first run. You might look into the issue I assume it's

[2018-04-11 03:07] sebastiencs commented on #6
Thank you, I just made a PR to fix that: https://github.com/melpa/melpa/pull/5422

[2018-04-11 09:34] #5 closed

[2018-04-11 21:33] jwintz opened #8 "Scrollbar issue"
Hi, huge fan of `company-box` and definitely wanna try `sidebar.el`.

However, I can't get `icons-in-terminal` working on High Sierra (maybe my fault, I hacked the CoreText stuff to get `all-the-icons` working).

Anyway, using:

[code]

I've got a scroller issue, that is, all candidates cannot be visited.

Also, whenever the scrollbar is displayed, left hand side icons are cropped.

<img width="76

[2018-04-11 23:33] sebastiencs commented on #8
Thanks :)
You may also like https://github.com/sebastiencs/omnibox

[This comment](https://github.com/sebastiencs/icons-in-terminal/issues/1#issuecomment-318905760) and the next one could probably help you to install it on mac os. It explains how to use `icons-in-terminal` in terminals, but if you just want to use the font on (emacs) GUI, you just need to install the font file like you would insta

[2018-04-12 01:52] technician77 commented on #6
Yes, but you already have seen that the #5 is not related and fixed it.

Regarding the images folder it seems that the latest melpa is still missing the images folder or it is missing it again.

[2018-04-12 19:50] jwintz commented on #8
Ok, thanks for the comment, I have installed fonts *I did not already have using __all-the-icons__*, e.g. `build/icons-in-terminal`, and some fonts from `icons-in-terminal` fonts folder, and hacked `/System/Library/Frameworks/ApplicationServices.framework/Frameworks/CoreText.framework/Resources/DefaultFontFallbacks.plist` to be aware of them.

So far `print-icons.sh` fails on Mac:

<img width="103

[2018-04-13 00:26] sebastiencs commented on #8
On the first image you can see that there are 2 child frames for company (3 with the doc). Looks like you have both `company-childframe` and `company-box` enabled at the same time ?
Is one front-end not enough ? :)
You need to disable `company-childframe`.

Does it somehow solves the issue for the 2nd image too ?

[2018-04-13 00:30] sebastiencs commented on #6
@technician77 Yes we need to wait for the PR on melpa to be merged

[2018-04-13 17:50] nealot commented on #8
I had a similar issue with Doom-Emacs and removing the default front-ends solved the overlap issue. However, using the tab to select elements still results in the scroll bar not following the selection. The scrollbar works fine with C-n and C-p, though.

[2018-04-14 01:45] sebastiencs commented on #8
@nealot What the tab key, ivy-scroll-up and ivy-scroll-down are supposed to do, exactly ? Do theses commands work with the built-in front-end ?

[2018-04-14 03:26] nealot commented on #8
@sebastiencs Yeah, Tab is supposed to work as C-n essentially and ivy-scroll-up and ivy-scroll-down scroll the menu up or down by a large value. They actually still work but the scroll bar doesn't display their results if they leave the scroll area.

Btw, do you know if that margin at the bottom is intentional? Anyway I could get rid of it? It looks out of place.

[2018-04-16 21:15] nealot commented on #8
@jwintz With company box, the number of elements available is controlled by company-tooltip-limit so you'll have to add something like `setq company-tooltip-limit 1000` to see 1000 results. That looks something like this:
![screenshot-2018-04-16_17-12-59](https://user-images.githubusercontent.com/36805289/38835537-7c345e72-4199-11e8-9517-a98fa3895414.png)
It would be better to have both a limit fo

[2018-04-16 22:32] dgutov commented on #8
That's an odd use of this variable...

[2018-04-18 00:50] sebastiencs commented on #8
@nealot I will rework the keymap of company-box and add commands to scroll by large value.

I see in your pictures that the start of candidates (after the icons) isn't aligned with the completion prefix in your current buffer (see the readme picture).
Can you disable `display-line-numbers-mode` and see if it still occurs ?

There is a bug that is fixed in emacs master branch but I thought it happe

[2018-04-19 23:44] noctuid opened #10 "Automatically disable line numbers"
It would be nice if this package (possibly optionally) automatically set `display-line-numbers` to nil in its buffers.

[2018-04-20 00:50] sebastiencs commented on #10
Do you mean `display-line-numbers-mode` is enabled in the child frame with all the completions candidates ?

[2018-04-20 03:59] noctuid opened #11 "Old child frame doesn't go away"
For example, when exiting org src mode with an active popup, it doesn't go away. The same thing happens if I kill the buffer with an active popup or switch to another window. It sticks around until the next completion popup.

[2018-04-20 14:57] sebastiencs commented on #11
Displaying and hiding the frame is managed by `company-mode`, I've also noticed that sometimes the frame is still there when another window is selected or the current one display another buffer.
@dgutov any thoughts on this ? I think it should be fixed in `company-mode`?

[2018-04-20 15:01] sebastiencs commented on #10
https://github.com/sebastiencs/company-box/commit/2f55d5a893e4a05bd7a62711c5cc879c98725f52 set `display-line-numbers` to nil

[2018-04-20 15:56] dgutov commented on #11
Fixed how? Please describe exactly how company-mode might be at fault.

[2018-04-20 16:05] sebastiencs commented on #11
@dgutov By not sending the `hide` command in those cases

[2018-04-20 18:31] noctuid commented on #10
Thanks!

[2018-04-20 18:31] #10 closed

[2018-04-21 08:10] fuxialexander opened #12 "Highlight of `company-search-string`"
Seems currently `company-search-string` is not highlighted? Is there any plan to add that?

[2018-04-22 18:00] sebastiencs commented on #11
@noctuid Can you test the changes in https://github.com/sebastiencs/company-box/commit/afb7a2936dc162120dba9f161ab6ad564c53a454 ?

[2018-04-23 06:32] fuxialexander opened #13 "company-box-doc position does not handle vertical window split"
![image](https://user-images.githubusercontent.com/8258908/39110263-1274a5fe-4703-11e8-8194-6d1f0dd2d72e.png)

[2018-04-23 13:10] sebastiencs commented on #13
Thanks, fixed in https://github.com/sebastiencs/company-box/commit/538e88c3ee5fc783fec2241a6730d0f843acd016

[2018-04-23 14:09] sebastiencs commented on #13
@fuxialexander I see that you're adding a space after your icons:
[code]
Why ? It shouldn't be necessary, unless there is a bug. Is the result different if you don't add that space ?

[2018-04-23 15:09] fuxialexander commented on #13
@sebastiencs yes that's old code. I already removed that. Originally thought I need to specifically add the padding

[2018-04-26 10:14] Alexander-Miller opened #14 "You need an evil-company-box-state"
Same reason I need my own treemacs-evil. Setting a cursor-type won't do since evil is managing your cursor. You need to define a proper evil state and activate it in the company-box buffer.

I can make the necessary changes, just let me know if you want this to be part of the main package (so as to avoid the awkward not-really dependency on evil) or if it should go into its own file and package.

[2018-04-27 10:51] sebastiencs commented on #14
That would be great, I think it should stay in the package.

The company-box buffer and its frame are never selected, commands are executed "remotely" from the current buffer. So I'm not sure if you're right about that, but since I know nothing about evil...

[2018-04-27 10:52] sebastiencs commented on #13
Alright, I'm closing the issue

[2018-04-27 10:52] #13 closed

[2018-04-27 10:55] sebastiencs commented on #6
@technician77 The package on melpa now contains the image folder :)

[2018-04-27 10:55] #6 closed

[2018-04-27 10:56] #3 closed

[2018-05-01 02:13] stardiviner opened #15 "company-box has different font size with default face"
![image](https://user-images.githubusercontent.com/378699/39458545-09d36400-4d28-11e8-8dfa-88003aa5b27f.png)

This is my screenshot, you can see, there is offset between typed text and candidate.

[2018-05-01 12:35] stardiviner opened #16 "Got error when I enabled desktop-save-mode and restart Emacs from crash"
[code]
I found ` (default-minibuffer-frame . "Unprintable entity")` and ` (company-box-buffer . "Unprintable entity")` in desktop-save file `(setq desktop-saved-frameset ...)`.

[2018-05-02 00:28] dgutov commented on #16
Need I say more?

[2018-05-02 02:24] stardiviner opened #17 "company-box-limit error"
https://user-images.githubusercontent.com/378699/39458545-09d36400-4d28-11e8-8dfa-88003aa5b27f.png

`company-box-limit` does not work as `company-tooltip-limit`.
When `company-tooltip-limit` is `10`, and company-mode have `100` candidates. `company-tooltip` will show a scroll-bar. But `company-box` does not. and even I scroll down, `company-box` dismissed rest candidates. Only have `10` candidates

[2018-05-02 05:50] dgutov commented on #16
Never mind me, sorry. I thought this issue was in the company-mode repo. :flushed:

[2018-05-02 07:29] nealot opened #18 "Replicate Company-Tng Behaviour"
Company-box does not cooperate with other company frontends. While trying to find a solution to the problem asked [here](https://github.com/company-mode/company-mode/issues/526) I noticed that company-box does not allow company-tng to work. It would be nice to have the behaviour described in that thread implemented within company-box.

[2018-05-02 15:31] larebsyed commented on #16
I am also facing this issue after enabling desktop save mode. What is the work around?

[2018-05-05 00:51] nealot commented on #18
Closing as this was due to a lack of understanding on my part. Sorry.

[2018-05-05 00:51] #18 closed

[2018-05-05 20:45] sebastiencs commented on #16
Can you test the commit https://github.com/sebastiencs/company-box/commit/a8ce545670f72904ce16ee4d5ea3c478b2f48b9e ? It should solves the issue

[2018-05-05 21:02] sebastiencs commented on #17
It's fixed in https://github.com/sebastiencs/company-box/commit/25141e4501f3c345693d315c69fda2f5b925cc21

[2018-05-05 23:09] stardiviner commented on #17
fix confirmed. Thanks @sebastiencs

[2018-05-05 23:09] #17 closed

[2018-05-05 23:42] stardiviner opened #19 "improve performance which company-box-doc is slow"
I think might need to improve the performance of `company-box-doc`. And company-box is little kind of flicking comparing with `company-mode` default tooltip. Guess maybe related to Emacs make child-frame. Maybe I'm wrong.

Maybe also add an option like `defcustom company-box-doc-auto-show t` to disable auto display doc. Use can bind with `(define-key company-box-mode-map (kbd "M-h") 'company-box-d

[2018-05-06 00:02] stardiviner commented on #16
Need to add one more `company-box-doc-frame` to `frameset-filter-alist`.

[2018-05-06 00:14] stardiviner commented on #16
After some times testing, I found some entries still has `"unprintable entity"` in frameset.
Like: `company-box-buffer`, `company-box-buffer-origin`, `company-box-window`, `company-box-window-origin`, `company-box-scrollbar` etc and `default-minibuffer-frame`.
Don't know whether they are related. Like `company-box-buffer . "Unprintable entity"` exist in desktop save file, but seems does not affect

[2018-05-06 08:08] noctuid opened #20 "Additionally remove company-pseudo-tooltip-frontend from company-frontends"
company-tng, for example, adds `company-pseudo-tooltip-frontend` to `company-frontends`. Right now, company-box only deletes `company-pseudo-tooltip-unless-just-one-frontend` which causes issues since `company-pseudo-tooltip-frontend` is still in `companyf-frontends`. It may not be ideal, but company-childframe actually [advises `company-call-frontends`](https://github.com/tumashu/company-childfra

[2018-05-06 08:11] #11 closed

[2018-05-06 08:16] noctuid commented on #14
There doesn't seem to be a cursor displayed in the company-box buffer even with evil. What is the problem this would address?

[2018-05-06 08:30] Alexander-Miller commented on #14
It's definitely around for me. I've now removed it from the main window, but it's still visible  [in the scrollbar](https://imgur.com/a/O4GWwen).

[2018-05-06 08:49] noctuid commented on #14
I think I can replicate that. Changing `cursor-in-non-selected-windows` to nil should be a sufficient fix though. I don't think there's a need to do anything specifically related to evil.

[2018-05-06 08:58] Alexander-Miller commented on #14
Not everyone will want to change global settings to accommodate company-box. And it's not like the fix is all that complicated or expensive. It's just one trivial function and 1 or 2 well placed hooks to call it.

[2018-05-06 12:34] sebastiencs commented on #16
Done in https://github.com/sebastiencs/company-box/commit/51af281326a3af0ddd444a958c68dd5751849d37

If the others variables don't cause an error I think there is no need to add them to `frameset-filter-alist`, what do you think ?

[2018-05-06 12:39] sebastiencs commented on #20
Thanks, it's done in https://github.com/sebastiencs/company-box/commit/32f9951250669ab715a38b8382257204852ee35d

[2018-05-06 12:57] sebastiencs commented on #19
Is `company-box` flickering or `company-box-doc` ? How is it flickering exactly ?

Yes that's a good idea

The slowest part on the report you provide is the call to the backend to get the function documentation, company-box doesn't have any control on it, unfortunately

[2018-05-06 13:03] sebastiencs commented on #15
The font used in the frame is the one specified in `default-frame-alist`, you can either change this variable or `company-box-frame-parameters`

For the scrollbar it should be fixed in a recent commit, from yesterday

[2018-05-06 13:47] stardiviner commented on #19
About the flicking is the `company-box`. Hmm hard to say. `company-mode` default tooltip raise feels a little faster than `company-box`. and popup is solid. The difference is small. I only can feel it. hard to point it out. So I record a video. Hope you can found in it. Sorry for this.

http://anonfile.com/Tej7t8eab6/deepin-screen-recorder_Select_area_20180506214207.mp4

[2018-05-06 13:50] stardiviner commented on #15
About the scrollbar, it is fixed. Then I found it is little kind of thick. Can it be thinner? Sorry I raise so many requests. Because I try to figure out company-box child-frame code, but can't understand them enough. If I can I might PR by myself. And thanks for this great package.

[2018-05-06 14:02] stardiviner commented on #15
I tried following settings, but none of them works.
[code]

[2018-05-06 14:34] #16 closed

[2018-05-06 14:38] stardiviner opened #21 "display company-box child-frame height based on font size"
![image](https://user-images.githubusercontent.com/378699/39674397-e7921fd0-517d-11e8-9f18-1dab06477ab6.png)
You can see the third candidate is not fully displayed.
Don't know whether company-box child-frame can display based on company-box child-frame font size.

Here is my config changed company-box frame font:
[code]

[2018-05-06 17:15] nealot commented on #15
I also tried to change the scroll-bar width but noticed that while I could make it larger, I couldn't make it any smaller than its original size.

[2018-05-06 17:39] nealot opened #22 "Replace Redundant 'Company-Box' Prefixes"
At the moment, using company-box alongside company requires two seperate variables for certain faces/variables/keybindings. I don't think this is necessary, as company-box is only a frontend for company-box and is mutually exclusive to the other tooltip frontends. As such, it would be more convienient to remove the company-box variables that simply inherit their values from tooltip and just use th

[2018-05-06 17:54] nealot commented on #21
I think your icons are larger than your candidates in size.

[2018-05-06 18:45] noctuid commented on #14
I was suggesting setting it locally not globally.

[2018-05-06 18:46] noctuid commented on #20
Thanks.

[2018-05-06 18:46] #20 closed

[2018-05-07 00:06] stardiviner commented on #15
@nealot I checked out `(current-frame-configuration)`, found `company-box-scrollbar` value is a buffer: `(company-box-scrollbar . #<buffer  *company-box-60817588-scrollbar*>)`.  In function `company-box--update-scrollbar`, The `scrollbar-pixels` in let-binding seems decide the scrollbar width.

[2018-05-07 00:13] stardiviner commented on #15
You're right, after I changed code
[code]
In function `company-box--update-scrollbar`, the scrollbar get larger, and can't get back smaller anymore no matter I re-evaluate function definition. Weird.

[2018-05-07 00:28] sebastiencs commented on #15
You can't define "normal" borders with child frames, you need to set the frame parameter `internal-border-width`

[code]

[2018-05-07 00:31] #14 closed

[2018-05-07 00:36] sebastiencs commented on #21
The height is already based on the font size of the frame.
I think you have this because of the icons you're using. They are bigger than the default font. Try to make the icons smaller ?

[2018-05-07 00:38] sebastiencs commented on #22
Yes I shouldn't have introduced similar variables, they need to be deleted.
PR are welcome :)

[2018-05-07 00:51] stardiviner commented on #21
@sebastiencs You're right. I make it smallerer (0.7) (eve I already did that smaller 0.8~0.9). It works fine now.

[2018-05-07 00:51] #21 closed

[2018-05-07 07:53] Alexander-Miller commented on #14
Ah, I thought it was a global variable. Never mind then.

[2018-05-07 12:00] stardiviner commented on #19
The flicking is on both `company-box` and `company-box-doc` child-frame appearing. Looks like company-box child-frame raise up is not smooth as company-box default popup. (have to admit it is not very obvious except I can see and feel it with my eyes)

@Alexander-Miller After I use `profiler` to find out lot of packages and configurations might deeply invoked other functions. And optimize my confi

[2018-05-08 11:18] muffinmad opened #26 "Scroll to search match"
While searching through candidates company-box doesn't scroll to matching one.

[2018-05-08 15:58] nealot commented on #8
The issue has been resolved for me with the recent commits.

[2018-05-09 23:48] #19 closed

[2018-05-09 23:53] stardiviner opened #28 "Try to change company-box child-frame background color when circadian switch theme"
I use package [circadian](https://github.com/GuidoSchmidt/circadian) to auto
switch theme. I want company-box child-frame background color can be changed in
circadian switch hook too.
Here is my try:

[code]

But this does not work.
When I run `(circadian-setup)` it is white background on 'light theme, or black
background color on 'dark theme.

Maybe my set background color way (use `add-to-list`)

[2018-05-11 12:42] nealot opened #29 "Company-box-doc does not fit inside the screen"
![screenshot-2018-05-11_08-22-23](https://user-images.githubusercontent.com/36805289/39924190-dec04cea-54f4-11e8-8427-c4daf8279203.png

[2018-05-12 01:13] stardiviner commented on #28
I was always wandering why I change `company-box-frame-parameter` is not working.
After checking out source code, I found this is because:
[code]
So I hope `company-box` can add a function to reset child-frame like this:
[code]

Here is my current config (as reference for you to considering circadian theme switching case):
[code]

[2018-05-23 15:08] mrlee23 opened #31 "How can I resize the icon image?"
![2018-05-23 23 54 41](https://user-images.githubusercontent.com/6349609/40432611-14c50110-5ee5-11e8-864b-49a86ebe2578.jpg)

Hi, I'm so thank you for the nice company-box package.

I'm using spacemacs, but I don't know why my company-box icon is displayed same size with the file size.
I configured the company-box's faces with `:height 1` but nothing was changed.
Is there any variable or something

[2018-05-23 22:40] sebastiencs commented on #15
@nealot I think that you can use the function `set-face-attribute` to change faces on a specific frame

[2018-05-28 20:45] nealot opened #33 "[Feature Request] Company-Box frontend with a timer delay"
Company has a frontend called ```company-pseudo-tooltip-unless-just-one-frontend-with-delay``` that uses ```company-tooltip-idle-delay``` to display the tooltip with a delay. This is very helpful when using ```company-preview-frontend```. Would it be possible for company-box to implement a similar feature?

[2018-06-01 00:19] noctuid opened #35 "Frontend that always shows candidates"
It would be great if there was another frontend that would always show candidates even if there is only one.

[2018-06-05 13:45] NightMachinary opened #36 "What are the other alternatives?"
It'd be nice to have a listing of alternatives and their respective merits/demerits in the readme.

[2018-06-07 09:04] sebastiencs commented on #36
@NightMachinary I'm not sure to understand your request, I have already described the differences with the built-in front-end in the readme

[2018-06-07 09:28] sebastiencs commented on #29
Hi @nealot, are you using a recent version of `company-box` ? It is supposed to be on the left when there isn't enough space on the right:
![box](https://user-images.githubusercontent.com/5273820/41090991-d4166336-6a45-11e8-8fc5-2f8f37c9c5b3.png)

[2018-06-07 13:06] dgutov opened #37 "README still mentions "company-next""
In the names of the mentioned variables.

[2018-06-07 15:30] sebastiencs commented on #37
Ah yes, thank you

[2018-06-07 15:35] barcharcraz opened #38 "Icons are very large"
![screenshot from 2018-06-07 11-31-33](https://user-images.githubusercontent.com/1304509/41110187-c7b61b08-6a46-11e8-8408-a07eea9c7c1c.png)

My I don't think my configuration is anything special. I do use variable width text for almost all faces though (which is one reason I'm very interested in company-box

[2018-06-07 15:36] barcharcraz commented on #38
Also my emacs configuration is at https://github.com/barcharcraz/emacsfiles

[2018-06-07 15:37] #37 closed

[2018-06-07 22:31] NightMachinary commented on #36
I liked your front-end, and so I have started wondering if there are other
good alternative front-ends. :)

On Thu, Jun 7, 2018 at 1:35 PM Sebastien Chapuis <notifications@github.com>
wrote:

[2018-06-11 01:43] stardiviner commented on #28
Hi, @sebastiencs any idea on this? can you add some similar workaround for this case which the company-box child-frames is dead, or invalid problems?

[2018-06-12 11:37] nlamirault commented on #38
Same for me.
![2018-06-12-133731_438x304_scrot](https://user-images.githubusercontent.com/29233/41288197-cc420cce-6e45-11e8-9ba8-dc96c2cea8c5.png)

[2018-06-14 23:38] stardiviner opened #41 "annotation alignment is different with company-mode default?"
Here is the original issue which shows the the difference. https://github.com/joaotavora/sly/issues/161

[2018-06-26 12:03] a13 commented on #2
hey there! any news on refactoring?

[2018-07-05 04:54] casouri opened #43 "[feature request] Add support for "common-face""
In company you can set different faces for "common" part of the candidates as your input:

<img width="443" alt="screen shot 2018-07-05 at 12 51 48 pm" src="https://user-images.githubusercontent.com/13118647/42303174-3ed6b500-8052-11e8-9c07-f7c2a3fafbeb.png">

Notice the purple and blue faces.

The faces are `company-tooltip-common` and `company-tooltip-common-selection`.

It would be cool if comp

[2018-07-05 04:56] casouri commented on #36
like [company-childframe](https://github.com/tumashu/company-childframe)?

[2018-07-05 23:46] ar1a opened #44 "Massive scroll bar"
![Picture](https://cdn.discordapp.com/attachments/406554085794381833/464576054682451968/unknown.png)

Not sure how to reproduce though

[2018-07-06 06:09] ar1a commented on #44
![Another image](https://cdn.discordapp.com/attachments/406554085794381833/464674032625909772/company-box-scrollbar.png) from someone else

[2018-07-06 09:41] AloisJanicek commented on #44
I have exactly same problem. I was unable to reproduce it in more vanilla emacs config, but changing this line https://github.com/sebastiencs/company-box/blob/6e047e6fd7226a1b8292a74985db82bbccc679c7/company-box.el#L580
to this
[code]
sets width of scrollbar reliably to 32 pixels.
I can live with that.

[2018-07-15 02:15] atzbacher opened #45 "Company-box and evil-collection"
Hi,
Every time I load evil-collection company-box won't let me select a candidate instead it inserts <ret> or <spc>. I am rather new when it comes to emacs and have not really a good idea where to start troubleshooting this problem.

[2018-07-16 01:56] Yevgnen opened #46 "Search face is missing in `company-filter-candidates`"
Hi, thanks for the awesome package.

When I doing `company-filter-candidates`, the face `company-tooltip-search` is missing. Is this a bug?

By the way, can I disable the scrollbar completely?

Thanks in advance.

[2018-07-16 02:14] Yevgnen commented on #43
I miss this face too!

[2018-07-16 09:31] mssdvd opened #47 "Company-tng doesn't work with company-box"
I can't use `company-tng` with `company-box` because the candidate isn't displayed in the buffer so I can't select it.
![image](https://user-images.githubusercontent.com/18464329/42751544-67ec25f0-88eb-11e8-95ea-4390761bb6db.png)

This is my config:
[code]
This is the value of `company-frontends`:
`(company-tng-frontend company-pseudo-tooltip-frontend company-echo-metadata-frontend)`

[2018-07-16 11:50] mssdvd opened #48 "Candidates sometimes disappear when company-box-enable-icon is t"
Candidates sometimes disappear when `company-box-enable-icon` is `t`

`setq company-box-enable-icon t`:

![peek 2018-07-16 12-00](https://user-images.githubusercontent.com/18464329/42756659-6f19b592-88fd-11e8-8486-17826180b261.gif)

`setq company-box-enable-icon nil`:

![peek 2018-07-16 13-42](https://user-images.githubusercontent.com/18464329/42756839-18cebc72-88fe-11e8-8765-8860956bafa3.gif)

Co

[2018-07-16 13:02] Atman50 commented on #38
I have the same problem with company-lsp and company-box:
![emacs](https://user-images.githubusercontent.com/3370807/42760020-ef176a9a-88d6-11e8-93ae-67e9873f20fb.JPG)

[2018-07-18 04:40] edkolev opened #49 "desktop-save-mode integration: it should ignore company-box buffers/windows"
Hi, and thanks for this package!

I'm using desktop-save-mode which is meant to save parts of emacs (e.g. buffers, windows, variables) on emacs start. It incorrectly restores company-box windows. Here's a screenshot of a fresh emacs that has company-box windows/buffers revived from the previous session:

![screen shot 2018-07-18 at 07 28 58](https://user-images.githubusercontent.com/1532071/428599

[2018-07-21 08:45] Alexander-Miller commented on #38
As I've learned in treemacs resizing icons on the fly is in fact quite simple. All you need to do is recreate them with a call like `(create-image file-path 'imagemagick nil :ascent 'center :width width :height height)`.

[2018-07-21 09:05] Alexander-Miller opened #50 "Icons should all be the same size"
Otherwise there's ugly misalignment: https://imgur.com/a/QdshJe3

When this is assured I also have plans for PRs  to
 1. ensure that line height in company-box will take the height of icons into account (also visible in the  picture, only half of the last line is visible).
 2. add an option to resize icons interactively

[2018-08-01 22:15] joostkremers opened #51 "`company-box` (+`icons-in-terminal`) slows down Emacs in `*ielm*` buffer."
I installed `company-box` the other day and decided to try out `icons-in-terminal` as well, and they look great and generally work well.

I ran into one weird problem, though. I was doing some stuff in an `*ielm*` buffer when I typed `(funcall some-var)` at the `*ielm*` prompt. This was silly, because `some-var` didn't have a function value, so I just got an `Invalid function` error. The error, ho

[2018-08-30 14:51] cmatzenbach commented on #50
I only have this issue in php-mode.  I'm not sure why that is, but it looks exactly the same.  +1

[2018-10-09 12:31] jmorag commented on #47
I can confirm that company-tng is broken for me as well with company-box enabled.

[2018-10-28 20:30] tam5 commented on #49
My solution / workaround:

[code]

[2018-10-30 22:35] azzamsa commented on #38
Do we have solution for this ?

[2018-10-31 10:53] azzamsa opened #54 "Company candidate number disappear"
Hi.

It's working fine `(setq company-show-numbers t)` without company-box. Can I get company candidate number back while using company-box ?

Thank you for company-box.

[2018-11-01 16:45] tam5 commented on #15
I know this not really about original issue, but stumbled upon this looking for a way to change the border color.

Actually what I was after was something similar to Sublime Text's version of popups:

![image](https://user-images.githubusercontent.com/11488762/47864051-154aea00-ddcf-11e8-85a6-50b7e3df1e14.png)

I think I have achieved something very close, but it seems like kind of a hack. I'll sh

[2018-11-04 09:45] Abergard opened #57 "Failed to complete with perspective mode"
Hi,

I am using [perspective](https://github.com/nex3/perspective-el) with [company-box](https://github.com/sebastiencs/company-box/).

The company-box not fully cooperate with perspective now. If both packages is configured the completion failed with error:
[code]
I have found a workaround. I need to disable persp-mode, use a company-complete at least one and restore persp-mode to be enabled.

I

[2018-12-12 08:53] wedens commented on #45
evil-collection enables `company-tng` by default. It's probably the same problem as https://github.com/sebastiencs/company-box/issues/47.

[2018-12-23 08:56] stardiviner opened #58 "The C-v and M-v to scroll page in company-box tooltip does not work."
When I use `[C-v]` or `[M-v]` to scroll page in company-box tooltip. It does not work correctly, I saw scrollbar scrolled, but the candidates are not scrolled.

[2018-12-29 11:42] seagle0128 commented on #38
Same issue here. Any update?

[2018-12-29 15:54] seagle0128 commented on #2
It seems the project is dead 😢

After I reviewed the PR, I realized the codes are not good enough. Many icons are missing, and the icons are not quite good and meaningful. I have to customize myself.

Attach here for reference:
[code]

[2018-12-29 17:52] vv111y commented on #38
I shrank mine by 50% both WxH, which makes them 1/4 size. Looks just right.

You probably want a function so it is easy to adjust anytime.

[2018-12-29 18:33] seagle0128 commented on #38
@vv111y Can you share your method here?

[2018-12-30 16:15] seagle0128 commented on #50
Same issue here. Too large...

[2018-12-30 16:17] seagle0128 commented on #49
Another solution/workaround:

[code]

[2018-12-30 22:15] vv111y commented on #38
I did this from the shell. For myself, the image folder was located at

```~/.emacs.d/elpa/26.1/develop/company-box-20180607.1545/images```

then I entered

```mogrify -resize 50% *.png```

You can use ```file *``` before and after to see the size differences. I needed to restart emacs after that.

[2019-01-05 06:38] stardiviner commented on #58
This issue happens on company candidates searching/filtering too.

[2019-01-05 06:39] stardiviner commented on #58
I searched company-box functions, seems does not support searching nor filtering.

[2019-01-05 16:49] seagle0128 opened #59 "Flash issue in fullscreen"
When using Emacs in fullscreen mode on macOS Mojave, flash issue happens. Disable `company-box-mode`, it works again.

- Emacs 26.1
- macOS Mojave
- company-box-20180607.1545

[2019-01-06 03:43] ArchCST commented on #59
Same issues here

[2019-01-13 17:47] fpopineau opened #60 "Sharing between environments: path for icons hardwired in .elc"
Hi,

I share my .emacs.d and elpa between emacs W64 (Windows) and emacs WSL (Ubuntu).
The variable company-box-icons-dir is compiled in the .elc file so that is a problem
because when I change environments, I need to recompile the package.
Also, given that it is assumed that the directory exists, no checking is done, but
the display is weird when the icons are not found.

Apart from this small pro

[2019-01-22 11:13] #35 closed

[2019-01-22 11:17] #49 closed

[2019-01-22 11:44] sebastiencs commented on #59
@seagle0128 Could you provide a video/gif of the issue ?

[2019-01-22 13:14] seagle0128 commented on #59
Attached the recording.
[Screen Recording 2019-01-22 at 9.03.33 PM-iphonepod.mp4.zip](https://github.com/sebastiencs/company-box/files/2782884/Screen.Recording.2019-01-22.at.9.03.33.PM-iphonepod.mp4.zip)

[2019-01-22 14:22] seagle0128 commented on #59
I think it's related to child frame.

[2019-01-24 11:21] stardiviner opened #61 "make company-box-doc tooltip aware screen boarder"
`company-box-doc` should be smart to aware screen boarder. Like in bellowing screenshot, it should shown on another side screen space:

![company-box-doc output screen boarder](https://user-images.githubusercontent.com/378699/51674953-322d3d00-200d-11e9-9bf0-45203d52cc14.png)

![image](https://user-images.githubusercontent.com/378699/53801317-d1811080-3f79-11e9-8296-20065512251d.png)

[2019-02-25 07:58] testinggithub1222 commented on #54
I think so. I miss those numbers and figure out that company-box make it disappear. so sad both are really helpful and now we have to choose one over the other.

[2019-02-25 08:49] azzamsa commented on #54
I choose being fast rather than shiny. I use 'vanilla' company for that, it's hard to have completion without being able to do it fast (have to use arrow and so on). I prefer to use number and drop this.

[2019-03-04 04:19] testinggithub1222 commented on #54
@azzamsa even without showing the number, i still can type using M-number but only if you willing to count it while typing.

[2019-03-04 04:50] azzamsa commented on #54
I prefer not to. :)

[2019-03-05 06:04] stardiviner commented on #58
@sebastiencs gentle ping ....

[2019-03-05 09:06] dsvensson commented on #38
Maybe there's some font icons in the `all-the-icons` package, that would automatically scale?

[2019-03-05 10:32] seagle0128 commented on #38
@dsvensson  I can approve `all-the-icons` works perfectly with `company-box`. PR #2 is not perfect.

[2019-03-07 08:22] testinggithub1222 commented on #54
:)

[2019-03-07 10:36] seagle0128 commented on #59
I don't think this issue can be fixed in `company-box` since it's an issue of Emacs.
The workaround it not using native fullscreen mode in macOS.

[code]

[2019-03-07 10:36] #59 closed

[2019-03-12 15:07] seagle0128 commented on #2
This can be closed.

[2019-03-12 15:09] seagle0128 commented on #38
PR #42 has been merged. And my enhancement is on https://github.com/seagle0128/.emacs.d/blob/master/lisp/init-company.el#L76.

[2019-04-23 16:41] seagle0128 commented on #43
Any update for this feature?

[2019-04-23 17:24] seagle0128 commented on #46
It seems duplicated with #12 .

[2019-05-14 17:31] grolongo opened #63 "Colorscheme"
Not an issue, just wanna know if you could tell me the colorscheme used in the screenshot from the README. Looks pretty neat.

Thanks!

[2019-05-16 04:17] smallzhan commented on #44
same issue here,  @AloisJanicek changing  "side  window-width" to 0.1 doesn't help,  but it seems harder to reproduce with 0.1 width.  Now I totally remove the scrollbar...

[2019-05-16 09:03] forrestchang commented on #44
How do you fully disable the scrollbar? Can you show the hack code?

[2019-05-16 09:14] forrestchang opened #64 "Main frame blinks when details child frame poped up"
![image](https://user-images.githubusercontent.com/7857126/57841839-e5f54b00-77fd-11e9-99ae-9d26e2494043.png)

The main frame will blink when the detail child frame pops up.

[2019-05-17 14:24] smallzhan commented on #44
@forrestchang  please refer to the gist here https://gist.github.com/smallzhan/4f8a558790133d269d5658ea85d50bf1

detailed modification:
in line 535,  set the scrollbar width to 0 in fuction "company-box--update-width",  then delete all the lines of calling to the function "company-box--update-scrollbar"

[2019-05-27 09:26] seagle0128 commented on #64
I am also experiencing this issue. This may be caused by `redisplay` in `company-box`, which also slows down Emacs.

[2019-05-28 08:11] Majenful commented on #44
I still have the scrollbar whereas I copied you gist
<img width="465" alt="company-box" src="https://user-images.githubusercontent.com/27791092/58461852-e4e2e880-8130-11e9-928a-8ef2fc712893.png">

I use doom and I replaced `company-box.el` in `~/.emacs.d/.local/elpa/company-box-xxxxx/`

[2019-06-03 05:16] toure00 commented on #64
I also met the same problem.
![2019-06-03 11 17 29](https://user-images.githubusercontent.com/33457469/58777629-cc2b7480-8601-11e9-971c-1f1ecd3eed8f.gif)

[2019-06-03 05:20] toure00 commented on #64
How to close the child frame?

[2019-06-03 05:28] toure00 commented on #64
''' lisp
(setq company-box-doc-enable nil)
'''

[2019-06-11 06:54] drfiresign commented on #58
I am also having this issue on my end. any assistance would be greatly appreciated.

[2019-06-28 03:59] vidjuheffex opened #67 "mac os x - company box incompatible with full screen"
Upon the opening of the box itself. A box appears in the center of the screen, then it snaps into place. However the title bar is no longer accesible, moving the mouse up to the top shifts you over to left, to a new, all-black, screen.

![ezgif-1-e7e929faf476](https://user-images.githubusercontent.com/3157835/60316139-06511300-992f-11e9-83ba-394ef3d712ea.gif)

This gif doesn't capture it super wel

[2019-06-28 12:44] stardiviner commented on #61
Any idea or solution for this?

[2019-07-10 15:54] muffinmad commented on #67
@vidjuheffex It's not the `company-box` issue but NS port of Emacs. Same issue with all packages that create child frame. Check out Emacs Mac port - this issue is [fixed](https://bitbucket.org/mituharu/emacs-mac/src/master/NEWS-mac) in emacs-26.2-mac-7.6 version.

[2019-07-10 16:43] vidjuheffex commented on #67
Thanks @muffinmad

[2019-07-10 16:43] #67 closed

[2019-07-25 22:26] larebsyed opened #68 "Company box throws error on resize which leaves completion popup stuck"
This happens when the list shrinks from a long list with scroll to a small one without scroll.

[code]

Screencast:
![company-box-bug](https://user-images.githubusercontent.com/12972892/61913801-ab273600-af57-11e9-86ee-54e671d4618a.gif)

[2019-07-27 17:37] vn-ki opened #70 "Completion box shrinks when scrolling through completions"
I'm using emacs and when I use arrow keys or any other keys to cycle through the completions, the box containing the completions and documentation shrinks.

Before scrolling:
![image](https://user-images.githubusercontent.com/31964688/61997690-180b0f00-b0c3-11e9-82a2-65a3da3150e7.png)

After scrolling a few times:
![image](https://user-images.githubusercontent.com/31964688/61997691-278a5800-b0c3-1

[2019-08-07 13:38] Salompas opened #71 "Using company-box breaks my Emacs"
I am running GNU Emacs 26.1 on MacOS, and I have a pretty minimal setup for Python (only `emacs-jupyter` and nothing more).
I am trying to get completion working with `company`, but while following [this tutorial](https://www.reddit.com/r/emacs/comments/8z4jcs/tip_how_to_integrate_company_as_completion/), I ran into an issue.

The issue shows up when I execute the following:
[code]

Specifically,

[2019-08-29 14:20] taigacute commented on #44
@Majenful   you should remove the `company-box.elc` then use the gist code .i tried it ,it will remove the scrollbar.

[2019-09-04 20:42] whirm commented on #54
I'd like to have this reopened, it's quite annoying to not have numbers.

[2019-09-04 23:53] azzamsa commented on #54
I closed this cause there is no response from it's maintainer over long period of time.

[2019-10-04 23:49] hakanserce commented on #71
I was getting the same error after my initial installation, and when looked into the details it showed errors related with other packages (like all-the-icons).

So, I did a `M-x package-refresh-contents`, followed by `M-x package-list-packages` and applied all the available updates, and finally restarted emacs. The problem was gone after this.

[2019-10-20 12:36] rickysaurav opened #73 "Implement company-select-next-if-tooltip-visible-or-complete-selection"
I usually have my Tab key mapped to company-select-next-if-tooltip-visible-or-complete-selection. Is there a workaround to achieve the same effect when using company-box.

Since, company box uses chidframes the method **company-tooltip-visible-p** always returns nil , which make tab always complete instead of selecting next.

[2019-10-30 09:44] t-hart commented on #47
Same here. I did manage to get it to work using `tab` following the advice in [this reddit thread](https://www.reddit.com/r/emacs/comments/8h9fdg/a_company_frontend_with_icons/), but it failed the second time I tried. More importantly, it only worked with `tab` and not with `M-n/M-p`, which I normally use for cycling. Not sure exactly what needs to be done to enable this, but would love to see the

[2019-11-01 04:31] stardiviner commented on #44
I'm still got this issue. Seem no update on company-box anymore. Is there anyone want to maintain a fork?

[2019-11-23 22:08] brainplot opened #75 "Compilation fails and company breaks with latest Emacs"
Hi, I'm trying to install `company-box` from the MELPA repository using `package-install` and, during compilation, a new window opens up with the following message:
[code]
Trying to use the package despite the compilation errors results in `company` no longer working, as in [this video](https://imgur.com/WtPezig) I recorded. Technically tab-complete works fine, as shown in the video, but I don't g

[2019-11-23 22:40] dgutov commented on #75
Sounds like you need (it needs): `(require 'subr-x)`.

[2019-11-23 23:04] brainplot commented on #75
So as a workaround I should be able to get it working by placing `(require 'subr-x)` in one of my init files before loading `company-box`, but in theory that should've been in the source code. Is that correct?

[2019-11-23 23:16] dgutov commented on #75
That's right.

[2019-11-24 00:26] brainplot commented on #75
Tried that but I get a different error when compiling:
[code]
Looks like this package needs the `all-the-icons` package, which I don't have installed, even though it's not specified in the `README.md`. `company-box` doesn't seem to pull it down as a dependency either.

[2019-11-24 10:30] dakra commented on #75
those are only warnings and can be ignored.
but jFYI, I was annoyed by the compiler warnings as well and made a while ago a branch with company-all-the-icons stuff separated in it's own package.
https://github.com/dakra/company-box/tree/fix-missing-all-the-icons

[2019-11-24 14:26] brainplot commented on #75
It doesn't look like a warning to me. It says it's an error and it's also highlighted as red, unlike the other warnings which are yellow :thinking:

![Screenshot_20191124_151252](https://user-images.githubusercontent.com/28014843/69495994-8aeb9180-0ecd-11ea-859a-0bc3461862e9.png)

After applying the workaround as per @dgutov's suggestion, now company pop-ups do show up but the whole thing doesn't

[2019-12-05 19:31] dgutov commented on #75
"faicon"? Someone clearly made a typo somewhere.

[2019-12-05 19:48] brainplot commented on #75
I'm on mobile right now but it should be easy enough to spot with something like `grep`.

[2019-12-09 03:44] rynoV opened #76 "Poor rendering of popup"
When company-box is enabled the popup frequently renders strangely:
![image](https://user-images.githubusercontent.com/35615725/70402247-febe8b80-19ef-11ea-9688-90f5405af011.png)
![image](https://user-images.githubusercontent.com/35615725/70402258-0847f380-19f0-11ea-9f20-666ba76c3653.png)
![image](https://user-images.githubusercontent.com/35615725/70402261-0a11b700-19f0-11ea-864d-509a1e36174b.png)

[2019-12-09 08:16] dgutov commented on #76
Do you see the same problem with `company-posframe`? If so, it might be a bug with child frames, and the report should go into Emacs core.

[2019-12-09 15:55] rynoV commented on #76
With `company-posframe` and `company-box` it's not as bad but still some issues:
![image](https://user-images.githubusercontent.com/35615725/70450524-1e41cc80-1a61-11ea-95d9-504fd2f6f769.png)
![image](https://user-images.githubusercontent.com/35615725/70450536-24d04400-1a61-11ea-946a-7aa24185940b.png)
I don't see the white or the static-y parts with `company-posframe`, maybe that was a child frame

[2019-12-09 22:37] dgutov commented on #76
Both packages use a child frame. But it could still be an Emacs bug, just manifesting differently.

Try asking the postframe's author, though. Maybe it's just HiDPI related, and something each package needs to deal with.

[2019-12-09 22:37] dgutov commented on #76
(I have a HiDPI screen, and I've noticed some problems with rendering as well)

[2019-12-17 16:57] minikN commented on #76
I'm having similar issues with company-box.

I've created a minimal setup to be sure nothing in my config is causing this.

init.el:
[code]

And this is how company-box looks:

![image](https://user-images.githubusercontent.com/1888338/71015312-ac6a2280-20f3-11ea-8911-49629ec16431.png)
![image](https://user-images.githubusercontent.com/1888338/71015380-c9065a80-20f3-11ea-9dc1-271888ed6718.png)
![i

[2019-12-18 12:33] minikN commented on #76
I have to apologize. I was actually not using a minimal config like I said before. I think I found the answer to (at least) the black spots in my pictures.

`(tool-bar-mode -1)` .. for whatever reason is causing that. If I remove that statement the boxes are being diplayed correctly. I hope that is helpful.

[2019-12-18 13:17] dgutov commented on #76
@minikN Does that fix all the artefacts? If so, it's definitely something to `M-x report-emacs-bug` about.

[2019-12-18 13:28] minikN commented on #76
Yes and no. I have no artifacts on the help boxes (sorry, I don't know their name) with `tool-bar-mode -1`.

However, after digging a bit further. I also have problems with the scroll bar. I've created two gifs to showcase the problem.

All recordings are with `(tool-bar-mode -1)`. In addition the first one is with `(scroll-bar-mode -1)`, the second with `(scroll-bar-mode 1)`:
![add-hook](https://

[2019-12-18 15:23] minikN commented on #76
@rynoV Can you verify my hypothesis regarding `tool-bar-mode -1`?

[2019-12-18 15:55] minikN commented on #76
Sorry for spamming the issue, but @dgutov, would you be able to answer some questions regarding `company-box`
 - Is it possible to increase the space between the icons and the text?
 - Is it possible to either decrease the width of the scroll bar or hide it completely - but without having a space between the popup and the information box (see gif above)?

Thanks.

[2019-12-18 16:08] dgutov commented on #76
* I'm not the author, not I do use it. If there are relevant options, try changing them. Otherwise, of course, it should be possible to change in the implementation.
* This still looks like a bug, but not sure in which component exactly.

[2019-12-18 16:11] minikN commented on #76
Sorry, I knew you weren't the author, this was suppose to be referred to @sebastiencs. Got confused a little.

[2019-12-18 16:46] minikN commented on #76
Regarding the icon-text space: https://github.com/sebastiencs/company-box/pull/77

For anyone interested.

[2019-12-19 03:20] rynoV commented on #76
Changing `tool-bar-mode` doesn't seem to change anything for me.

[2019-12-19 09:45] minikN commented on #76
That's very unfortunate. Did you change it to `tool-bar-mode 1`?

[2019-12-19 17:09] rynoV commented on #76
I executed `(tool-bar-mode 1)` and `(tool-bar-mode -1)` and didn't see any change.

I did the same with `scroll-bar-mode` and that didn't change anything either.

[2020-01-01 12:16] rileyrg opened #78 "With a small amount of completion candidates the popup is sized too small."
![Screenshot from 2020-01-01 13-04-19](https://user-images.githubusercontent.com/362891/71641248-e5c89380-2c98-11ea-9c24-374cf39d8755.png)

[2020-01-02 08:16] Melkor333 commented on #71
I had to add `:ensure t` in my config for company and company-box like that:
[code]
I use `:ensure t` all the time, but if you don't use it to install packages automaticatlly, just make sure you install the `company` and `company-box` packages with `package-install` (or however you install packages)

[2020-01-07 00:42] thriveth commented on #47
I have the same problem. Right now, Company-box is beautiful but useless for me.

[2020-01-07 01:17] bcclaywell commented on #58
I was able to work around this issue with the following key remaps:

[code]

[2020-01-07 14:00] drfiresign commented on #58
@bcclaywell THANK YOU! This is awesome, I really appreciate your following up.

[2020-01-08 08:34] minikN commented on #76
Alright @rynoV @dgutov,

after still struggling with this. I've finally found a solution (Playing with `tool-bar-mode` and `scroll-bar-mode` didn't fix it for me as well after all).

The problem is not `company-box` nor `emacs`. It's `VcXsrv`, specifially it's implemetation of GLX. A more detailed description can be found [here](https://sourceforge.net/p/vcxsrv/bugs/102/).

The solution is to swit

[2020-01-09 14:08] rynoV commented on #76
Switching to MobaXTerm does fix this issue for me, thanks @minikN.

[2020-01-09 14:08] #76 closed

[2020-01-11 13:35] stardiviner commented on #58
With this hint, I use this advice solved problem.
[code]

[2020-01-11 13:35] #58 closed

[2020-01-11 13:36] stardiviner commented on #26
@muffinmad Reference this issue #58

[2020-01-19 12:52] #41 closed

[2020-01-20 05:13] ianpan870102 commented on #78
Same issue if I tweak the line-spacing to more than 0.

[2020-01-20 07:35] ianpan870102 opened #79 "Company-box flickers with every keystroke"
First of all, thank you for this package, it adds visual-pleasing icons to spark up the tooltip, and also solves the issue of company-mode partially hiding the diaplay-line-number.

However, I notice small flickers of the tooltips on every keystroke, as the drop-down re-renders the candidates. The flickers have nothing to do with company-box-doc, since I've disabled it from the start.

I wonder if

[2020-01-20 13:30] dgutov commented on #79
It does flicker, depending on WM, apparently.

We touched on this problem on emacs-devel, see https://lists.gnu.org/archive/html/emacs-devel/2020-01/msg00515.html. You can join in that discussion with your observations, or file a bug report too.

[2020-01-20 13:45] ianpan870102 commented on #79
I see. For the record, I'm on macOS Catalina with emacs-plus --HEAD (v28.0.50)

[2020-01-20 13:46] dgutov commented on #79
That's some useful info for a bug report.

I'm on GNOME 3.32 myself.

[2020-01-20 23:41] dgutov commented on #79
@ianpan870102 BTW, have you tried https://github.com/tumashu/company-posframe/?

It doesn't use icons, but has some other extra features.

[2020-01-21 03:55] ianpan870102 commented on #79
@dgutov Yes, I've tried the company-posframe approach, but the flickering issue remains (and seems to be more severe than company-box(?)). Actually I don't care too much about the icons either, my main purpose was for the tooltip to not interfere/hide the displayed line-numbers on the editor left hand side, as this is a long-standing issue for company-mode.

[2020-01-21 11:28] dgutov commented on #79
Interesting. company-posframe works more reliably on my machine.

Someone should look into their implementations' differences and merge the best parts, or something.

[2020-02-03 10:08] atanasj opened #80 "company-box does not seem to work with eglot"
`company-box` works as expected everywhere else, however when I have `eglot` enabled as the `lsp` for `ess-r-mode`, `company-box` appears but with all the help documentation on one line (see image below).

<img width="1278" alt="image" src="https://user-images.githubusercontent.com/27214625/73643337-67ac4200-46c7-11ea-8709-517fc7c93d39.png">

Additionally, none of the icons that are configured are

[2020-02-07 05:15] atanasj opened #81 "company-box does not render custom icons in ess-r-mode: is `CompletionItem`.`kind` that is sent by the server is mapped to an icon?"
This issue was originally identified here https://github.com/emacs-lsp/lsp-mode/issues/1383. There an `lsp-mode` generated error report that seems to point to problems with `languageserver`. However @yyoncho suggested I post my question here (see [his reply here](https://github.com/emacs-lsp/lsp-mode/issues/1383#issuecomment-582931582)).

The question I wanted to follow up was:

Can you please pro

[2020-02-14 18:33] CsBigDataHub commented on #54
@whirm @azzamsa
Here is a lazy fix I made, essentially over-riding the `company-box--render-buffer` function to display line numbers. Add this to your configuration after `company-box`. This will show line numbers for the company buffer.

[code]

![image](https://user-images.githubusercontent.com/23665525/74557676-43056500-4f26-11ea-9bb4-e28aca912932.png)

@sebastiencs Are there any plans to enabl

[2020-02-23 00:31] ericdallo commented on #79
For me, this was resolved using `(setq company-box-doc-enable nil)` on NixOS - Gnome 3.34, Emacs 26.3

[2020-02-23 01:11] ericdallo commented on #58
Great workaround, thanks @stardiviner!

[2020-03-13 08:49] muffinmad commented on #67
This issue is [fixed in NS port of Emacs 28 now](http://git.savannah.gnu.org/cgit/emacs.git/commit/?id=bbc48b263485c26c6823eabdbbd7e9af62178e34)

[2020-03-25 17:38] shuxiao9058 opened #84 "Attempt to make invisible the sole visible or icon"
Debugger entered--Lisp error: (error "Attempt to make invisible the sole visible or icon...")
  make-frame-invisible(#<frame  0x7fec4423b900>)
  company-box-hide()
  company-box-frontend(hide)
  company-call-frontends(hide)
  company-cancel()
  company-quickhelp-hide()
  run-hooks(focus-out-hook)
  handle-focus-out((focus-out #<frame *scratch* 0x7fec3b8c6eb0>))
  funcall-interactively(handle-focus

[2020-03-27 02:11] stardiviner opened #85 "Function company-box-icons--anaconda has very bad performance issue"
When I complete after dot in following Python code:
[code]
*NOTE*: Here the "|" bar is the cursor point.

company-box popup very slow.
When I disable this function `company-box-icons--anaconda` with following code:
[code]
The problem is gone.

[2020-04-17 00:32] cloudrck commented on #75
That's the name for [**F**ont **A**wesome **Icon** Function](https://github.com/domtronn/all-the-icons.el/blob/0b74fc361817e885580c3f3408079f949f5830e1/all-the-icons.el#L72).

@brainplot did you ever figure this issue out? I'm having the same issue, going to have to have to take a look.

[2020-04-17 01:15] brainplot commented on #75
Sadly, no I didn't. I just uninstalled the plugin. It wasn't something that improves my productivity so I didn't mind too much :slightly_smiling_face:

[2020-04-29 06:45] hkjels commented on #50
Still an issue
`sips --resampleWidth 16 ./images/*` <- made it look a little nicer, but also a little blurred off-course

[2020-04-29 08:15] #31 closed

[2020-04-29 08:15] #38 closed

[2020-04-29 08:45] sebastiencs commented on #43
Closing, it's been implemented in https://github.com/sebastiencs/company-box/pull/56

[2020-04-29 08:45] #43 closed

[2020-04-29 08:48] sebastiencs commented on #50
Does it still occur after https://github.com/sebastiencs/company-box/pull/82 ?

[2020-04-29 09:03] sebastiencs commented on #75
Hi @brainplot, those warnings should be fixed

[2020-04-29 09:10] Alexander-Miller commented on #50
Yes, it does. The icons' type must be set to `imagemagick` instead of `png`  for the sizing to work.

[2020-04-29 09:40] sebastiencs commented on #50
@Alexander-Miller thanks. I added `imagemagick` in https://github.com/sebastiencs/company-box/commit/9a39b820796453b852b172de320d01be913c6f96

[2020-04-29 09:58] sebastiencs commented on #85
Hi @stardiviner. Can you reproduce with the [profiler](https://www.gnu.org/software/emacs/manual/html_node/elisp/Profiling.html) and post the result here ?

[2020-04-29 09:59] hkjels commented on #50
I was using the version on melpa which didn't have the imagemagick line. I now switched to the latest version, but then icons disappeared entirely. `company-box--have-imagemagick` returns `t`

[2020-04-29 10:01] stardiviner commented on #85
Hmm, Let me take a try, this problem is long time agon, don't know whether I can reproduce it. Update later. :)

[2020-04-29 10:05] sebastiencs commented on #50
@hkjels Does `(image-type-available-p 'imagemagick)` returns `t` as well ?

[2020-04-29 10:07] hkjels commented on #50
yup

[2020-04-29 10:20] stardiviner commented on #85
I can't reproduce with MELPA version company-box. I'm curious why, so I did a search of `company-box-icons--anaconda`. I have not found it. I guess I'm using source code version fork which I merged many different patches at that time. (If your're interested, you can try my fork)
I did a profiler profiling. Bellowing is the result.
And here is my Emacs company-box config:
[code]

[2020-04-29 10:21] stardiviner commented on #85
profiler CPU report:
[code]

[2020-04-29 10:22] stardiviner commented on #85
profiler Memory report
[code]

[2020-04-29 10:23] sebastiencs commented on #50
@Alexander-Miller Any idea why the images don't appear ?

[2020-04-29 10:26] stardiviner commented on #85
I changed profiler result format for big screen. so the sample and percent numbers might be hard to read. sorry for this.

[2020-04-29 10:26] Alexander-Miller commented on #50
Nope.

@hkjels What does your `company-box-icons-images` look like? What happens when you `(insert (propertize " " 'display (alist-get 'Method company-box-icons-images)))`?

[2020-04-29 10:32] stardiviner commented on #85
I have updated my profiler report for easy reading. :)

[2020-04-29 10:37] hkjels commented on #50
Ahh.. Figured it out
Looks like a `straight.el` issue. It's looking for the images where `straight.el` keeps the build, whereas the images are only in the downloaded repo. Copying the images directory to the build-directory worked wonders

[2020-04-29 10:40] sebastiencs commented on #50
@hkjels Do the images have the same size now ?

[2020-04-29 10:46] Alexander-Miller commented on #50
I use straight.el as well and I have no such problem - the images are in the build directory. Sounds like a blooper happened somewhere.

[2020-04-29 12:04] seagle0128 commented on #50
It does work well now. Thanks!

[2020-04-29 12:51] hkjels commented on #50
It's properly sized now. Slightly off on vertical alignment, but that I can live with. Thanks for helping!

[2020-04-29 12:55] hkjels commented on #50
Interesting. I tried removing the package and re-installing, but to no avail. I have to copy them manually

[2020-04-30 11:02] joostkremers opened #86 "company-box seems to have stopped working after latest update"
After updating the package yesterday, `company-box` seems to have stopped working altogether. No box pops up anywhere anymore...

I'm not sure where I should begin trying to debug this. `company-frontends` includes `company-box-frontend` (at least buffer-locally), I don't know what else is needed for a proper functioning `company-box`. There's nothing in `*Messages*` that looks relevant and I don'

[2020-04-30 11:12] joostkremers commented on #86
PS: my keyboard went haywire, which caused me to post an empty issue... My apologies, I updated the issue just now.

[2020-04-30 12:22] Daskeladden commented on #86
@joostkremers Works for me, most likely something in your init?

There was an update to the function `company-box--update-line`, perhaps you call this (or redefine it) in your own configuration?

[2020-04-30 12:44] joostkremers commented on #86
Apparently... I actually added the `org-roam` and `company-org-roam` packages to my config yesterday and as it turns out, the latter is the culprit. If I disable it, everything starts working again.

Sorry for the noise, I should have checked that first, obviously...

[2020-04-30 12:44] #86 closed

[2020-05-01 09:17] sebastiencs commented on #85
Thanks, I will take a look

[2020-05-01 09:22] sebastiencs commented on #50
@hkjels Great, thanks for your confirmation

@Alexander-Miller Does it work for you too ? Can this issue be close ?

[2020-05-01 09:26] sebastiencs commented on #75
@brainplot I'm closing the issue. Feel free to reopen if it still occurs

[2020-05-01 09:26] #75 closed

[2020-05-01 13:30] Alexander-Miller commented on #50
It's working fine on my end.

[2020-05-02 12:39] #50 closed

[2020-05-08 15:55] YumiSuki opened #88 "How can I change company-box background, foreground and font color?"
I am trying to add company-box into my Emacs configuration and it alters background and foreground color of company mode's dialog and make it is hard to read anything. Please check my picture.
![Before](https://user-images.githubusercontent.com/63283300/81423311-80bd0700-917e-11ea-818f-88547259082b.png)
![After](https://user-images.githubusercontent.com/63283300/81423345-874b7e80-917e-11ea-9940-7e

[2020-05-08 20:07] cwhatley opened #89 "tab-line-mode affects box placement"
When I have global-tab-line-mode off, the placement of the menu is generally correct across the modes I tested, but when it is turned on, the company box is off by the height of the tab line which leads to the cursor location being covered over by the menu box.

No tab line:

![image](https://user-images.githubusercontent.com/573757/81444901-f5c01a80-9145-11ea-8dc9-eb7db5577873.png)

With tab line

[2020-05-09 09:12] sebastiencs commented on #89
Hi @cwhatley , it should be fixed with https://github.com/sebastiencs/company-box/commit/17f20bf11377a0dd75d1c918095a5d7ae980cb92

[2020-05-09 10:12] sebastiencs commented on #88
Hi @YumiSuki , the error should be fixed in https://github.com/sebastiencs/company-box/commit/2b76c496e8485367eb2d758a105f5aa54becb8db.

You can customize faces by running:
`M-x customize-group company-box`
and `M-x customize-group company-box-doc`

[2020-05-09 11:17] cwhatley commented on #89
Excellent!

[2020-05-09 12:47] YumiSuki commented on #88
Hi @sebastiencs,

I have just found out why when i enable company-box mode, company mode dialog just dim out like in the second picture above. I think this package is conflicted with dimmer mode i am using. After disable dimmer mode, company mode dialog shows list of candidates like in the first picture but candidate detail (on the right) still dim out. I am not sure what is going on. I have disab

[2020-05-11 00:27] CsBigDataHub commented on #89
@sebastiencs

#17f20bf is breaking company box.

I am getting the error below

[code]

[2020-05-11 03:44] gilbertwong96 commented on #89
I have encountered the same error, @CsBigDataHub.  Could you please merge this pull request ? https://github.com/sebastiencs/company-box/pull/90/files @cwhatley

[2020-05-11 04:02] sebastiencs commented on #89
@CsBigDataHub @gilbertwong96 The PR to fix this bug has been merged

[2020-05-12 13:06] CsBigDataHub commented on #89
Thanks @sebastiencs

[2020-05-25 22:43] Valdaer opened #92 "Wiki update for icon config?"
Hello, I've created some documentation snippet for changing icon set config(for using all-the-icons/icons-in-terminal) with an example for some custom all-the-icons config.

It would be nice for users not familiar with elisp to be able to know how to change config to try all-the-icons/icons-in-terminal without browsing elisp files.

Since as far as I know there's no way to do a merge request for t

[2020-06-10 08:22] bottom-bracket opened #95 "company-box-doc causes wrong behaviour with company-yas"
Having yas-snippets that may call other functions can break the `company-box-doc` behavior. For instance the display of the `doc` window for the following snippet:
[code]
causes a request for user interaction in the minibuffer instead of showing the `company-box-doc` frame. I believe this is an issue that can not easily be avoided if proper previews shall be displayed in the `doc` frame.
I'd perha

[2020-06-23 10:44] lsiksous commented on #54
Thx @CsBigDataHub you're right. That should be customizable. I added (setq header-line-format nil) too.

[2020-06-23 23:51] azzamsa commented on #88
same problem here:

![image](https://user-images.githubusercontent.com/17734314/85478746-012caf80-b5e7-11ea-82e1-bd84120913bd.png)

[code]

[2020-07-09 18:49] FilipCon opened #100 "Setting "company-selection-wrap-around" with company-box-mode enabled has no effect."
I figured that the "company-selection-wrap-around" functionality from company-mode does no longer work when company-box-mode is enabled. In solely company-mode it works fine. Tested with Emacs 27 with native json. I can't seem to find any reference to this, whether its an issue or unsupported feature. Although it not a major problem, sometimes it gets annoying to scroll all the way up! :D

[2020-07-12 15:12] geza-herman commented on #44
For me, setting `window-resize-pixelwise` to `nil` (that's the default value) fixed the issue.

[2020-07-16 01:37] adamfaryna opened #101 "all-the-icons custom icon colors"
Is there a way to set the color of each icon while using all-the-icons?

For me all icons displays with the same color as text in tooltip.

[2020-07-19 08:35] larebsyed commented on #100
#102

[2020-07-28 16:51] jidicula commented on #88
I'm also having this issue where company-box-doc menus are unreadable with a bright yellow (#FEFA52) background and a white foreground. I'm not sure which variable can be used to customize this, but I'm certain that this issue is originating from company-box and not company-mode or Emacs defaults.

[2020-07-29 01:29] jkroes commented on #48
Confirming this behavior in ess-r poly-r for Rmarkdown files on Windows Subsystem for Linux Emacs 27. With icons enabled, the completion menu appears, then disappears, followed by the appearance of help for the selected candidate. This behavior doesn't affect simple R scripts on my end.

[2020-07-29 10:19] Kazimazi opened #103 "Can I have documentation popups in terminal emacs?"

[2020-08-03 05:17] #68 closed

[2020-08-03 08:26] dinkonin opened #104 "Error Symbol’s function definition is void: company-box-icons-image"
Hello after the latest update company-box stopped working for me with this error

I load it like this `(use-package company-box :hook (company-mode . company-box-mode))`

I'm on emacs 27 (arch linux AUR).

[2020-08-03 11:45] marodoncat commented on #104
I got the same error, but after removing the package and re-installing it went away.

[2020-08-03 11:55] dinkonin commented on #104
Just tried it, but unfortunately I'm getting the same error after reinstalling and restarting emacs.

[2020-08-03 12:06] sebastiencs commented on #104
@dinkonin Can you try to run (`M-:`):
[code]

[2020-08-03 12:12] dinkonin commented on #104
@sebastiencs I get this:
[code]

If I remove `company-box-icons.elc` the problem dissapears.

[2020-08-03 12:14] sebastiencs commented on #104
@dinkonin The issue is now fixed with https://github.com/sebastiencs/company-box/commit/b7ca474ccf5bdee663cd807ae4a9b01569e4bc39

[2020-08-03 12:18] dinkonin commented on #104
I can confirm that the issue is fixed. Thank you !

[2020-08-03 12:18] #104 closed

[2020-08-04 15:27] sebastiencs commented on #103
@Kazimazi company-box doesn't work on terminals

[2020-08-04 15:30] sebastiencs commented on #48
@mssdvd Weird, I have `setq company-box-enable-icon t` in my config and I never got such issue.
Do you have any errors in the `*messages*` buffer ?

[2020-08-04 15:40] sebastiencs commented on #88
The background is configured with the face `company-box-background`
Is this face modified/set in your configuration ?

[code]

[2020-08-05 09:52] kiennq opened #105 "Icons are not showing for not focused items"
It seems that c88b220975c3eafe60096b9 breaks this.
Here is what I get now:
![image](https://user-images.githubusercontent.com/2631472/89398948-bdcc7180-d74c-11ea-9dcf-313a4554dbb1.png)

[2020-08-05 16:39] jidicula commented on #88
Thanks! I was able to configure it in my `init.el` with `(set-face-background 'company-box-background "#555555")`

[2020-08-06 01:07] jkroes commented on #48
I had a similar issue with ess-R-mode and company-box. Initially it seemed as if disabling either company-box-enable-icon or company-box-doc-enable seemed to fix the issue, but I was able to keep both enabled so long as I disabled ess-eldoc-mode. Basically, the completion menu would pop up, then the doc for the completion item, then the completion menu would disappear as the eldoc message appeared

[2020-08-06 13:56] kiennq opened #107 "Consider to render only visible candidates instead of company-box-max-candidates like now"
Hi @sebastiencs, thanks for the great package.
I notice that `company-box` is quite slow, mostly because it has to re-render all of candidates.
Would it makes sense to only render visible candidates only?
This will be a huge performance gain, and also removes the restriction of `company-box-max-candidates` too.

Also since `company-box` actually do the rendering of the candidate itself, it was mis

[2020-08-08 12:43] ludvikn opened #108 "Incompatibilty with company-yasnippet"
Using `company-box` is messing with `company-yasnippet`. Typing and selecting using `company-yasnippet` still works in the sense that I can blindly select a snippet, but no text or completion popup appears between using `company-yasnippet` and selecting a snippet.

My configs:
[code]

[2020-08-08 16:52] sebastiencs commented on #107
Hi @kiennq, thanks for your comment.

I would prefer to not use `company--create-lines`, the default front-end is based on an overlay and all the code around it is "limited" by that.
Overlays are good, but `company-box` has it's own frame which allows us to make use of all buffer properties, window etc. which I intend to use for this package instead of just using the default frontend code and only

[2020-08-08 17:19] sebastiencs commented on #108
Hello @ludvikn, I'm also using `company-yasnippet` but it works correctly.
Do you have any errors in the `*messages*` buffer ?

[2020-08-08 17:36] #103 closed

[2020-08-08 18:23] dgutov commented on #107
`company-posframe` uses this function too, and it's not based on overlays.

[2020-08-08 19:23] sebastiencs commented on #107
@dgutov Right, it's not based on overlays. But its output is intended to be used in overlays, so it doesn't make use of features available outside of overlay context, unless I am missing something ?

@kiennq What other features are you missing that is available with `company--create-lines` but not in `company-box`, other than `flx` ?

[2020-08-08 19:33] dgutov commented on #107
@sebastiencs

`company-posframe` is not based on overlays.

[2020-08-08 19:43] sebastiencs commented on #107
@dgutov I didn't say `company-posframe` is based on overlay, did I ?

I was talking about the output of the function `company--create-lines` here

[2020-08-08 19:52] dgutov commented on #107
Which features are those?

[2020-08-08 20:52] sebastiencs commented on #107
@dgutov `company--create-lines` doesn't use windows margins which I just used to support `company-show-numbers`, or the display property `align-to margin` etc..

My point is child frames gives a freedom to the implementation of `company-box` and using `company--create-lines` would not make full use of that

[2020-08-08 21:10] dgutov commented on #107
At some point you start to have a lot of duplication in the code.

Not using `company--create-lines` is perhaps fine if you're prepared to reimplement it and deal with the resulting bugs, but having a separate set of commands such as `company-box-mode-map` doesn't seem like a good idea (look at all the associated bug reports).

[2020-08-09 08:45] sebastiencs commented on #54
`company-show-numbers` is now supported in `company-box`:

![image](https://user-images.githubusercontent.com/5273820/89728358-5e79a480-da5f-11ea-84e0-dd1514823696.png)

[2020-08-09 09:16] sebastiencs commented on #107
Sure, which is why I replied:

I don't see many bugs about reimplementing `company--create-lines` or `company-box-mode-map` though

[2020-08-09 10:05] sebastiencs commented on #44
I think https://github.com/sebastiencs/company-box/commit/ce8f569f9449f9a1ec1e43ee5f3e5b72cd6b0b04 might fix the issue. If anyone can test

[2020-08-09 10:07] #100 closed

[2020-08-09 14:37] ludvikn commented on #108
I clicked around a bit. And seems like it is working correctly. The issue appears to occur only when I have a single snippet loaded. After I added a second one, the popup works.

[2020-08-09 15:33] tshu-w commented on #54
@sebastiencs If it's possible to add margin for company number
<img width="559" alt="Screen Shot 2020-08-09 at 11 33 27 PM" src="https://user-images.githubusercontent.com/13161779/89735974-bc76ae00-da98-11ea-8a35-ff51c36a6b13.png">

[2020-08-09 16:14] dwuggh opened #109 "Invalid byte opcode: op=0, ptr=6"
## description
- after update, company-box throws `error: Invalid byte opcode: op=0, ptr=6` when using company
- It works fine before, I installed company-box on July 20.
- Both native-compiled and byte-compiled company-box not work.
- I've tried recomplie company-box, but didn't work.
## environment
- system: manjaro linux x86-64
- emacs: 28.0.50 native-comp branch(gccemacs)
- company-box version

[2020-08-09 19:58] bjcohen commented on #109
Seeing the same error on OS X 10.15.4 on Emacs 28.0.50 and company-box 981aa41.

[2020-08-10 01:41] azzamsa commented on #54
confirmed. solved using `981aa41` revision.

Thanks @sebastiencs

[2020-08-10 01:41] #54 closed

[2020-08-10 01:53] sebastiencs commented on #109
Thanks, should be fixed with https://github.com/sebastiencs/company-box/commit/6eb8820787b7a0363ead906d8a23139ca8fd5eee

[2020-08-10 02:02] azzamsa commented on #88
**do you use dimmer-mode?**

If anyone have blurred text problem like this (blurred text):

![image](https://user-images.githubusercontent.com/17734314/89747221-e905e680-dae7-11ea-99b3-07ff389f6638.png)

Check if you have `dimmer-mode` installed. If so, then you can add `" *company-box-"` to your `dimmer-exclusion-regexp-list` or you can add `(dimmer-configure-company-box)` function to your config

[2020-08-10 02:53] dwuggh commented on #109
Thanks! It works for me.

[2020-08-10 02:53] #109 closed

[2020-08-10 04:26] sebastiencs commented on #88
Thanks @azzamsa, this is now done by company-box with https://github.com/sebastiencs/company-box/commit/3494864546a390dba161e5834ccb210cea83db81.
So the user doesn't need to do any configuration.

Let me know if you think this should stay an explicit user config instead.

[2020-08-10 05:58] sebastiencs commented on #54
@tshu-w Done in https://github.com/sebastiencs/company-box/commit/439951e60c5bb9c50245a5a4b3a8cb7122cb6106

[2020-08-10 12:38] #108 closed

[2020-08-10 12:40] ludvikn opened #110 "Popup disappearing when there is only one candidate left"
These are my company configs:

(use-package company
  :defer 2
  :diminish
  :custom
  (company-begin-commands '(self-insert-command))
  (company-idle-delay 0)
  (company-minimum-prefix-length 1)
  (company-show-numbers t)
  (company-tooltip-align-annotations 't)
  (company-wrap-around 't)
  (global-company-mode t))

(use-package company-box
  :after company
  :diminish
  :hook (company-mode . com

[2020-08-10 13:24] sebastiencs commented on #110
You can change that behavior with `(setq company-box-show-single-candidate t)`

[2020-08-10 15:53] shackra opened #111 "wrong-type-argument window-live-p nil"
in my \*scratch\* buffer, writing a Elisp function and navigating through the auto-completion I see there are no icons, but worst of all, an error is throw:

[code]

these are the snippets of my configuration:

[code]

[2020-08-10 15:56] sebastiencs commented on #107
@dgutov I agree that `company-box-mode-map` is not a good idea. I will find a solution and change that

[2020-08-11 00:39] stardiviner commented on #61
Gentle ping ...

[2020-08-11 14:59] sebastiencs commented on #61
@stardiviner See https://github.com/sebastiencs/company-box/issues/29#issuecomment-395355582

Moving the doc on top or bottom of the completion frame is not yet implemented but it's on my todo list

[2020-08-11 18:42] #110 closed

[2020-08-11 22:54] stardiviner commented on #105
I got similar problem, except that all icons not shown on my machine. I'm using MELPA version `20200810.557`. But I use the latest Git "master" branch works fine. Currently latest commit is `439951e master upstream/master Add space when numbers are on the right`.

[2020-08-13 00:38] stardiviner commented on #29
I'm using the latest "master" branch on latest commit `439951e master upstream/master Add space when numbers are on the right`.

It works on some candidates, I don't know the strategy rules.
Here is the screen recording gif

![output](https://user-images.githubusercontent.com/378699/90081590-501dd800-dd40-11ea-9074-d86c6ceec9ac.gif)

[2020-08-13 00:41] stardiviner commented on #29
I realized one problem, I'm using package `zoom`. which will automatically zoom current window. I disabled it `zoom-mode`. Then try again, Now company-box works for every candidates.

I'm wandering is it possible to let company-box support packages like `zoom` and `golden-ratio` etc in a general way?

[2020-08-13 00:41] stardiviner commented on #61
This is implemented, so closed now. Thanks @sebastiencs

[2020-08-13 00:41] #61 closed

[2020-08-14 17:52] ashton314 commented on #67
Seems to be an issue in 27.1 on macOS Catalina as of 2020-08-14. Anyone else seeing this as well?

[2020-08-14 21:37] muffinmad commented on #67
@ashton314 Yes, Emacs 27.1 doesn't contain the patch. It's installed on Emacs 28.

[2020-08-17 00:57] stardiviner opened #112 "company-common face has one more char colorized in selected candidate"
Here is a screenshot:

![image](https://user-images.githubusercontent.com/378699/90348226-9ee0b000-e067-11ea-9424-6c8e9ef9b358.png)

You can see I selected the second candidate, it the company-common face also highlighted one more extra face "-a" part.

[2020-08-18 04:27] stardiviner opened #113 "company-box not displaying candidate icons"
When I use source code version company-box, the icons display fine. But when I switched to MELPA version, the icons is not displaying.

I use following config:

[code]

When I use `:ensure t` to use MELPA, and use `:load-path "..."` to use source code version.

And here is the screenshot

![image](https://user-images.githubusercontent.com/378699/90467555-0de10600-e147-11ea-807d-212c96eda143.png)

[2020-08-18 04:51] sebastiencs commented on #113
What melpa version are you using ? Can you try to update it ?
Also, can you try:
[code]

[2020-08-18 06:20] stardiviner commented on #113
I'v already updated to latest version `20200810.557`. I also tried your command to recomile company-box. then restart Emacs. still same problem. I checked source code master branch version company-box. Same code, why source code version can display icons, and MELPA version can't. Really weird. Can't figure out why.

[2020-08-18 06:34] sebastiencs commented on #113
I just tried the melpa version and I have the same behavior (no icons), I will find a solution

[2020-08-18 06:44] stardiviner commented on #113
That's great, I've been thinking my computer weird problem be somewhere I can't find out.

[2020-08-18 07:40] sebastiencs commented on #113
@stardiviner https://github.com/sebastiencs/company-box/commit/20384f0e382c063173b9d863344b1b23bc1e4954 should fix the issue

[2020-08-18 14:06] seagle0128 opened #114 "Doc delay at the first candidate"
`run-with-idle-timer` causes the delay of displaying doc at the first candidate. It works after moving up or down.
I test with `run-with-timer`, and it seems working but I am not sure if there is side-effect.

https://github.com/sebastiencs/company-box/blob/20384f0e382c063173b9d863344b1b23bc1e4954/company-box-doc.el#L137

[2020-08-18 15:18] sebastiencs commented on #114
Hi @seagle0128.

I'm not sure if I understand your issue, could you elaborate a bit ?

[2020-08-18 17:15] seagle0128 commented on #114
Sorrt for the confusion. When comoany-box displaying the candidates, the doc of the first candidate will be delayed 5 seconds to display although the it's set to 0.5s. The docs are displayed timely if moving up or down to select other candidates.

[2020-08-18 23:54] stardiviner commented on #114
I can reproduce this problem. I've noticed this problem before.

[2020-08-19 00:36] stardiviner commented on #113
Confirm fixed. Thanks a lot for your work!! :)

[2020-08-19 00:36] #113 closed

[2020-08-19 01:52] seagle0128 commented on #114
@stardiviner so, can u pls try this snippet and check if there is any side-effect?

[code]

[2020-08-19 13:50] stardiviner commented on #114
Now the doc popup faster, feels same fast as other candidates on first candidate. Confirmed. Thanks for solution.

[2020-08-20 01:38] angrybacon opened #116 "Material icon vertically misaligned regardless of v-adjust"
The issue is independent of font size and family for my `default` face but I get different results with other font families in `all-the-icons`. I've put a screenshot of the issue, hopefully more visible with the highlighted face.

The `all-the-icons` call seems fine with an adjusted value of `v-adjust`. But setting up the same icon with the same values within `company-box`, icons are always at the

[2020-08-21 05:46] sebastiencs commented on #116
Thanks for reporting this @angrybacon.
I know what is causing this issue I will fix it

[2020-08-21 05:47] sebastiencs commented on #114
Thanks for testing @stardiviner @seagle0128. I will use `run-with-timer`

[2020-08-21 06:53] sebastiencs commented on #112
Thanks @stardiviner I will take a look

[2020-08-21 08:56] seagle0128 commented on #114
Cool~~~ Thank you! @sebastiencs

[2020-08-21 17:42] seagle0128 opened #118 "Freeze Emacs if the doc is large"
While I input `emacs-mode-map` and see its doc, the Emacs freezes. The doc looks large since the doc window is big.
Not sure if it's related to Emacs build. I am using Emacs-mac 27.1 on macOS Catalina.

[2020-08-22 18:34] #118 closed, assigned to nobody

[2020-08-23 17:15] sebastiencs commented on #116
@angrybacon It should be fixed with https://github.com/sebastiencs/company-box/commit/d8f71fde7a3301a62f9f6f627aa51610a294f4df, can you confirm ?

[2020-08-23 20:43] angrybacon commented on #116
@sebastiencs Thanks, looks like that fixed it 👍

[2020-08-23 20:43] #116 closed

[2020-08-24 07:21] sebastiencs commented on #112
@stardiviner Should be fixed with https://github.com/sebastiencs/company-box/issues/112

[2020-08-24 07:27] sebastiencs commented on #105
@kiennq Does it still occurs ? https://github.com/sebastiencs/company-box/commit/20384f0e382c063173b9d863344b1b23bc1e4954 might have fix this

[2020-08-24 07:31] sebastiencs commented on #88
Closing. @YumiSuki Feel free to reopen if you still have issues

[2020-08-24 07:36] stardiviner commented on #112
Yes, fixed the issues, I confirmed with latest pull. Thanks @sebastiencs  :+1:

[2020-08-24 07:36] #112 closed

[2020-08-24 07:54] kiennq commented on #105
Yeah, it's fixed by your commit.

[2020-08-24 07:54] #105 closed

[2020-08-24 08:06] YumiSuki commented on #88
Thank you for your hard work everyone!
I have just update everything today and retried the solution and got some error with the scroll bar. It become so large than usual when company-box is enabled. Please check the image below, one is when company-box is not yet enabled, and another is enabled.

company-box version: 20200823.1712

![Uploading Screenshot_20200824_145455.png…](company-box-enabled)

[2020-08-24 08:07] YumiSuki commented on #88
Thank you for your hard work everyone!
I have just update everything today and retried the solution and got some error with the scroll bar. It become so large than usual when company-box is enabled. Please check the image below, one is when company-box is not yet enabled, and another is enabled.

company-box version: 20200823.1712

![company-box-enabled](https://user-images.githubusercontent.com/6

[2020-08-24 08:26] KaratasFurkan opened #120 "Weird scrollbar"
Hi, my scrollbar is weird, i could not find the correct word to describe it :sweat_smile:

Here is a screencast:
![output-2020-08-24-11:26:11](https://user-images.githubusercontent.com/29731420/91021583-a6223380-e5fc-11ea-8d4a-61d1dc6ac254.gif)

[2020-08-24 08:43] sebastiencs commented on #88
@YumiSuki Can you please try https://github.com/sebastiencs/company-box/commit/396129e5ea26460c8d9970f0537d4181c6ed7c29 and add to your config:
[code]

And post the logs in you `*messages*` buffer here

[2020-08-24 08:44] sebastiencs commented on #120
@KaratasFurkan Hi, thanks for reporting this.

Do you know since which commit this occurs ?

[2020-08-24 08:52] KaratasFurkan commented on #120
Actually it occurs for more than 1 year, since the times i was using spacemacs, still same with my own config.

[2020-08-24 09:07] sebastiencs commented on #120
@KaratasFurkan Ah, ok.
Can you update to https://github.com/sebastiencs/company-box/commit/e98acaaadae616c68ea84bc64994ca2cf4d7f8dd, set `company-box-debug-scrollbar` to `t` and post the logs in the `*messages*` buffer here please.

[2020-08-24 09:19] KaratasFurkan commented on #120
[code]

[2020-08-24 09:21] KaratasFurkan commented on #120
By the way, i have one more problem, this one is new, maybe occur one week ago first. Sometimes selection box disappear when doc show up.

[2020-08-24 09:52] sebastiencs commented on #120
@KaratasFurkan Can you try again with https://github.com/sebastiencs/company-box/commit/196a6e4a7adda4649ff488dcced8bf8b1c499d07.
I added more logs and it might fix the "invalid face reference"

What emacs-version are you running ? On which OS ?

[2020-08-24 09:59] KaratasFurkan commented on #120
Emacs version: GNU Emacs 27.1 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.24.22) of 2020-08-13
OS: Manjaro KDE

[code]

[2020-08-24 10:43] sebastiencs commented on #120
@KaratasFurkan The values in the logs seem correct.
The issue might be caused by that invalid face reference.

- Does the "invalid face reference" still occurs when you set `company-box-scrollbar` to `nil` ?
- What is the output of `(print (symbol-plist 'company-box-scrollbar))`
- can you check that all your faces related to `company-box` are not malformed/have issues, maybe you can remove  all yo

[2020-08-24 11:37] KaratasFurkan commented on #120
I find the reason of "invalid face reference". I added `(setq company-box-backends-colors '((company-yasnippet . (:annotation 'default))))` a week ago, i remove the quote before "default" and it solved. Probably this cause "disappearing company-box" too.

But scrollbar still same.

The outputs you want:
[code]

Recompling did not change scrollbar.

Thank you for caring, btw.

[2020-08-24 16:38] KaratasFurkan commented on #120
I find the problem!!!!!!!

`(setq show-trailing-whitespace t)` cause this issue. Also the color of the scrollbar changes with "trailing-whitespace" face.

I will try to solve this problem as soon as i have free time.

[2020-08-24 16:49] sebastiencs commented on #120
@KaratasFurkan Ah great ! I can reproduce with that variable set. I will push a fix for this.

[2020-08-24 16:51] sebastiencs commented on #120
@KaratasFurkan Should be fixed with https://github.com/sebastiencs/company-box/commit/e914f58f37a3626a028965b73d9261ef91ca988c

[2020-08-24 17:46] KaratasFurkan commented on #120
Fixed, thank you!

The only problem that remains is "disappearing box"

Here is a screencast:
![output-2020-08-24-20:41:27](https://user-images.githubusercontent.com/29731420/91077820-65510b80-e64a-11ea-8fb2-900ef8766f85.gif)

It only occur with yasnippet completion.
These two issues [1](https://github.com/company-mode/company-mode/issues/925) [2](https://github.com/joaotavora/yasnippet/issues/982

[2020-08-24 18:33] sebastiencs commented on #120
Does it still occur if you set company-box-doc-enable to nil ?

[2020-08-24 19:16] KaratasFurkan commented on #120
No it does not

[2020-08-25 00:58] stardiviner opened #121 "Latest update MELPA caused multiple company-box tooltip frames"
Here is a screenshot:

![image](https://user-images.githubusercontent.com/378699/91110649-0b376100-e6b1-11ea-8182-089a1472dbc6.png)

MELPA version: `20200824.948`

[2020-08-25 01:35] sebastiencs commented on #120
@KaratasFurkan Can you send one of the snippet which trigger this bug ? The snippet files are in `yasnippet-snippets-dir`

Can you also send your full configuration of the `yasnippet` package, including customizations in `custom-file`

I can't reproduce with my snippets

[2020-08-25 01:38] sebastiencs commented on #121
Is there a way to reproduce this ?

Are you sure it's on the melpa version ?
I remember having this bug while working on https://github.com/sebastiencs/company-box/pull/119 branch, but even on that branch I think I fixed it.
I never saw this on the master branch.

I tried the melpa version and I can't reproduce

[2020-08-25 02:16] YumiSuki commented on #88
I have tried it and it gives me only one output in *Messages*:
[code]

I think there should be a few packages that cause the conflict which include company-box, lsp-mode and some others in my configuration but I could not find out which one because it's take time trying enable and disable each one to see the result.

[2020-08-25 02:20] YumiSuki commented on #88
Here is the output I got, please check:

[code]
I think there should be a few packages that cause the conflict which include company-box, lsp-mode and some others in my configuration but I could not find out which one because it's take time trying enable and disable each one to see the result.

[2020-08-25 02:46] stardiviner commented on #121
Weird, I restart Emacs, the problem is gone. Sorry for distribution. ;)

[2020-08-25 02:46] #121 closed

[2020-08-25 04:43] sebastiencs commented on #88
@YumiSuki Thanks, I saw in your logs that you have golden-ratio. I think it caused that issue.
Can you confirm that https://github.com/sebastiencs/company-box/commit/7c05cfd1cb32f161c7de1efb168b597880500473 fixes that ?

[2020-08-25 04:49] sebastiencs commented on #44
https://github.com/sebastiencs/company-box/commit/7c05cfd1cb32f161c7de1efb168b597880500473 might fix that issue too

[2020-08-25 07:53] YumiSuki commented on #88
Thanks a lot for your hard work @sebastiencs. It's working properly now.

[2020-08-25 08:03] KaratasFurkan commented on #120
A snippet causes bug:
[code]

A snippet don't cause bug:
[code]

My YASnippet configuration: https://github.com/KaratasFurkan/.emacs.d#yasnippet-snippet-completion
Also there is some config in Company section (Company & YASnippet integration): https://github.com/KaratasFurkan/.emacs.d#company-code--text-completion

[2020-08-25 13:20] sebastiencs commented on #120
@KaratasFurkan I loaded you full config and could reproduce.
I made a fix in https://github.com/sebastiencs/company-box/commit/2bb0a0b4ea596fd025d2ef3bb3e3e4f95e21cc43

[2020-08-25 13:26] KaratasFurkan commented on #120
It works perfectly! Thank you so much for your care and efforts.

[2020-08-25 13:27] #120 closed

[2020-08-25 16:50] stardiviner opened #122 "company-box does not obey `completion-ignore-case`"
In company-mode, if I set `completion-ignore-case` to `t`. I can complete Clojure code `(java.lang.System)` through input `(java.lang.sys)`. After enabled `company-box-mode`. This does not work now.

Here is the related issue link https://github.com/clojure-emacs/cider/issues/2895

[2020-08-25 16:54] seagle0128 commented on #114
@sebastiencs Any update?

[2020-08-26 01:19] stardiviner commented on #122
After debug in `company-box`, I found the bellowing code caused the problem.
[code]

[2020-08-26 01:35] stardiviner commented on #122
Seems `company-box-front` does not work like `company-pseudo-tooltip-frontend`.

[2020-08-26 06:37] sebastiencs commented on #122
Hello @stardiviner, I don't understand the issue.
The completion itself is handled by `company-mode`, `company-box` just display the result.
Can you explain a bit more ?

[2020-08-26 06:42] sebastiencs commented on #114
@seagle0128 Done

[2020-08-26 07:04] stardiviner commented on #122
@sebastiencs Sorry for my mass messages. ;)

In Clojure code, when I input `(java.lang.sys`, It should get completion candidates `(java.lang.System`. But when I have `company-box-mode` enabled, it does not display this candidate. When I disable `company-box-mode`, it displays the candidate.

My mistake, I realized the bellowing code in `company-box` removed some frontends. But `company-pseudo-tool

[2020-08-26 07:11] stardiviner commented on #122
Here is a GIF I recorded for demostration.

![output](https://user-images.githubusercontent.com/378699/91272456-54210f80-e7ae-11ea-9bb9-a8d83c20d254.gif)

[2020-08-26 07:21] sebastiencs commented on #122
@stardiviner Does it work if you set `company-box-show-single-candidate` to `t`

[2020-08-26 09:26] stardiviner commented on #122
It worked. Ahaha, that's great!, thanks @sebastiencs

[2020-08-26 09:28] stardiviner commented on #122
I have a similar question, with input `(java.lang.System/getp`, I can't complete candidates like `(java.lang.System/getProperty`?

[2020-08-26 17:01] seagle0128 commented on #114
@sebastiencs  Thank you! It does work.

[2020-08-27 02:56] YumiSuki commented on #88
It's working so I'll close the issue now. Thx you again everyone.

[2020-08-27 02:56] #88 closed

[2020-08-27 04:07] sebastiencs commented on #88
@YumiSuki You are welcome

[2020-08-27 16:19] #114 closed

[2020-08-28 05:28] #122 closed

[2020-08-29 16:29] seagle0128 opened #123 "Company: frontend company-box-frontend error"
I got this error today after upgrading the package. No backtrace, no messages, no logs.

- Emacs 27.1
- company-box-20200828.1627

[code]

[2020-08-29 18:26] sebastiencs commented on #123
@seagle0128 Thanks for reporting this.

Can you do:
[code]
And reproduce the error ? It will show a backtrace

[2020-08-29 19:14] seagle0128 commented on #123
Already turn on it, but no backtrace.
Disable company-box-mode, the issue disappears.

[2020-08-29 19:26] seagle0128 commented on #123
@sebastiencs I think I found the root cause. If `(setq company-box-highlight-prefix t)`, the issue occurs.

[2020-08-29 20:26] sebastiencs commented on #123
Should be fixed with https://github.com/sebastiencs/company-box/commit/adcb52b71f447e27493c4c98ad1d1711639f6e10

[2020-08-30 00:34] stardiviner opened #124 "update company-box icons?"
The default `company-box-icons-images` has many duplicated icons.

I suggest to update it. @sebastiencs shared vscode-icons repo. https://github.com/microsoft/vscode-icons
The background discussion here https://github.com/sebastiencs/company-box/pull/115

And here is my thought:

Thanks for pasting the link.

Can company-box display svg directly? Then no need to convert svg image to png. Does it h

[2020-08-30 13:45] sebastiencs commented on #124
What would be the advantages of using svg files instead of png ?
I might be wrong but I think displaying svg images requires some flag at compile time and external libraries, whereas png files are built in emacs.

Those icons looks good, I think it would be better to keep the same icons as vscode for `company-box-icons-images`.

[2020-08-30 15:01] seagle0128 commented on #123
Confirm. It's fixed.

[2020-08-30 15:01] #123 closed

[2020-09-02 04:54] allenryb opened #126 "First char is missing"
The first character of the first word in a line is missing in the first candidate of company-box.
For example, the first company candidate of `use` will be listed as `se` and the number "1" is missed:
![companybox2](https://user-images.githubusercontent.com/6965371/91933127-bd5ad280-ed1a-11ea-9b35-da82b7dca180.png)
This problem only appear at the first word of a line.

Although the completion is r

[2020-09-03 07:58] sebastiencs commented on #126
Hello @allenryb, does it always occurs or under certain conditions ?
If you are scrolling the list of candidates, does it still occurs with the 1st line ?

Could you send your configuration for `company-box` ? Or if your full configuration is public maybe send a link to it ?

[2020-09-03 21:14] cloudnine commented on #111
Similar error here, in an html buffer:

[code]
Both our errors feature 'apply(#<subr select-window> (nil norecord))'

[2020-09-04 03:56] allenryb commented on #126
It always occurs.
If I scroll the list of candidates, it still occurs.
Moreover if I scroll back, the previous candidates will miss the fisrt character.

![companybox](https://user-images.githubusercontent.com/6965371/92197252-d347cf00-eea3-11ea-8a57-ee97e1fbc411.gif)

My configuration about `company-mode` and `company-box` is
[code]

[2020-09-04 05:09] sebastiencs commented on #111
@shackra @cloudnine https://github.com/sebastiencs/company-box/commit/292d170e10141aeec4c234b1cc160ef03a304036 should fix your issues. Can you please confirm

[2020-09-04 05:35] sebastiencs commented on #126
@allenryb https://github.com/sebastiencs/company-box/commit/4265eaf9e4d29f8b93e125fa807e2085e8e0ea3b should fix your issue. Can you please confirm

[2020-09-04 11:38] allenryb commented on #126
It's fixed. Thanks!

[2020-09-04 12:18] phisu opened #127 "error-messages after updating company"
i updated
company-box to 20200904.533
company-lsp to 20190612.1553
company-prescient to 20200716.1414

and now i get frequently the following error-message:

Company: An error occurred in auto-begin
Company: frontend company-box-frontend error "Wrong number of arguments: ((t) (string) (let ((selection company-selection) (common (or company-common company-prefix))) (save-current-buffer (set-buffer

[2020-09-04 15:46] sebastiencs commented on #127
Hello @phisu ,

Please run `M-x` `toggle-debug-on-error` and reproduce the bug, a backtrace will appears, can you post it here.

What emacs version are you using ?

Can you try to recompile `company-box` (`M-:`)
[code]

Can you send your configuration for `company-box` and `company`

[2020-09-04 15:46] #126 closed

[2020-09-05 03:35] cloudnine commented on #111
Fixed. Thanks!

[2020-09-05 12:11] Kazimazi commented on #29
If there isn't enough space on the right and on the left, will it position under the completion popup?

[2020-09-05 12:15] stardiviner commented on #29
Sound like an alternative solution. Good idea.

[2020-09-06 13:27] phisu commented on #127
the backtrace:

Debugger entered--entering a function:
* error-message-string((wrong-number-of-arguments ((t) (string) (let ((selection company-selection) (common (or company-common company-prefix))) (save-current-buffer (set-buffer (company-box--get-buffer)) (erase-buffer) (insert string "\n") (setq mode-line-format nil display-line-numbers nil truncate-lines t cursor-in-non-selected-windows nil)

[2020-09-06 14:39] sebastiencs commented on #127
@phisu Please make sure that your configuration is updated with the latest centaur.
centaur used to redefine functions that were modified recently in `company-box`

https://github.com/seagle0128/.emacs.d/blob/master/lisp/init-company.el

[2020-09-06 15:20] phisu commented on #127
i just updated centaur. but the issue still persists.

[2020-09-06 17:58] mpereira commented on #58
The workaround provided by @stardiviner seems to not work in recent versions of company-box. I'm trying to figure out a fix.

[2020-09-06 18:30] mpereira commented on #58
Using `company-box--move-selection` instead of `company-box--change-line` seems to do the trick:
[code]

[2020-09-06 19:15] sebastiencs commented on #58
@mpereira With latest versions of `company-box`, those advice-add are not needed anymore.
https://github.com/sebastiencs/company-box/pull/119 removed the keymap of company-box and now it relies on the exact same keymap than the "normal" `company-mode`.

Can you try without those advice-add and let me know if you have any issues.
Thanks

[2020-09-06 19:18] sebastiencs commented on #26
Fixed with https://github.com/sebastiencs/company-box/pull/119

[2020-09-06 19:18] #26 closed

[2020-09-06 19:22] sebastiencs commented on #127
You most likely have a compiled file of an old version of centaur somewhere (a file ending with `.elc`).

It is that version of `my-company-box--render-buffer` causing your issue. https://github.com/seagle0128/.emacs.d/commit/91e08439d62cedfce9da8fe9a8b833a29ad0dd04#diff-18a577e3c1bb530313fb7f98374df956

@seagle0128 is there any command that needs to be run to update @phisu's compiled files ?

[2020-09-06 20:18] mpereira commented on #58
@sebastiencs I just confirmed that `company-next-page` and `company-previoust-page` work nicely without the advices, thanks!

I'm not sure if it's my configuration, but it seems that `company-filter-candidates` isn't working as expected with the latest company-box. Disabling company-box makes it work as expected (candidates are filtered to the input). Would you be able to test it there?

FWIW, I u

[2020-09-07 02:09] seagle0128 commented on #127
`centaur-update` should work. If not, delete company-box and reinstall it.

[2020-09-07 06:14] sebastiencs commented on #58
@mpereira I just tested and yes it doesn't work. I will fix that

[2020-09-07 06:17] sebastiencs commented on #127
@phisu In addition to @seagle0128 instructions, please check that you don't have a file named `init-company.elc` somewhere

[2020-09-07 14:25] sebastiencs commented on #58
@mpereira This should be fixed with https://github.com/sebastiencs/company-box/commit/2cc7d907382f7c3325663d4aecb5ef760e88fdf0

[2020-09-07 15:04] #89 closed

[2020-09-07 15:15] sebastiencs commented on #47
`company-tng` should work with `company-box` now:
[code]

[2020-09-07 15:15] #47 closed

[2020-09-07 15:18] sebastiencs commented on #46
Fixed with https://github.com/sebastiencs/company-box/commit/1ff1297dd03eb4ede7dfde509d7e4235e00b2f63

[2020-09-07 15:18] #46 closed

[2020-09-07 15:22] sebastiencs commented on #12
Fixed with https://github.com/sebastiencs/company-box/commit/1ff1297dd03eb4ede7dfde509d7e4235e00b2f63

[2020-09-07 15:22] #12 closed

[2020-09-07 17:52] phisu commented on #127
thank you for your help. i did not found init-company.elc in my .emacs.d directory. but i found init-company.el. this one was older than what you mentioned above in seagle0128/.emacs.d@91e0843#diff-18a577e3c1bb530313fb7f98374df956 . i copied https://github.com/seagle0128/.emacs.d/blob/91e08439d62cedfce9da8fe9a8b833a29ad0dd04/lisp/init-company.el over my init-company.el. the error message did not e

[2020-09-07 17:52] #127 closed

[2020-09-08 11:39] mpereira commented on #58
@sebastiencs works great now, thanks for fixing it so quickly!

[2020-09-09 03:34] stardiviner opened #128 "company-box display error on org-contacts completion"
When I type name in the `To:` field of mu4e compose mode.
I got error after toggled `debug-on-error`.
Here is the backtrace:
[code]

I can see `company-fill-propertize(#("唐鳳 <audreyt@audreyt.org>" 23 24 (font-lock-face bold)) nil 24 nil nil nil)` becomes `"唐鳳 <audreyt@audreyt.or"`. Seems somewhere changed the text.

[2020-09-09 07:16] sebastiencs commented on #128
@stardiviner Does https://github.com/sebastiencs/company-box/commit/d28025fa0c833ce85c4cf3c965581914daebfab0 fix your issue ?

[2020-09-09 09:37] stardiviner commented on #128
I pulled commit, and tested with same condition. Still not fixed. I try to get backtrace error log, but I got nothing when I `toggle-debug-on-error`. And no company auto popup neither.
I press `[TAB]` to manually start company. Only get error:
[code]

Then I try to edebug on `company-box--candidate-string`. Then press `TAB` manually, but seems it's not invoked.
Then I edbeug on `company-box-fronte

[2020-09-09 17:24] sebastiencs commented on #128
@stardiviner Does the error occur without company-box enabled ?

@dgutov `company-fill-propertize` throws an error when called with:
[code]
24 & 26 refers to the result of calling `length` and `string-width` on the string.

Is this expected ?

[2020-09-09 21:56] stardiviner commented on #128
@sebastiencs No, company-box popup is fine. Only occur in company-box.

[2020-09-09 22:02] dgutov commented on #128
@sebastiencs Sorry, I can't answer that off the top of my head without debugging with exact example inputs.

`company-fill-propertize` is a weird function; in essence, it's a part of the default popup frontend so you might as well reimplement it in your frontend as well. It would be good if this function were more stable, but wide characters are a tricky issue. Help cleaning up their handling is w

[2020-09-10 06:31] sebastiencs commented on #128
@dgutov Thanks, I think calling `company--clean-string` fixes the issue.

@stardiviner Can you test again with https://github.com/sebastiencs/company-box/commit/b056a148558738790c6b9699cc216540b5628540

[2020-09-10 08:09] stardiviner commented on #128
Confirme fixed, :) Thanks @sebastiencs  👍🏻

[2020-09-10 08:09] #128 closed

[2020-09-12 22:42] azzamsa opened #129 "Completion box are very small"
I stop using company-box for a year, but after (https://github.com/sebastiencs/company-box/issues/88, and https://github.com/sebastiencs/company-box/issues/54) I start using it again, it has been couple of months now.

Yesterday, I tray to do `straight-pull-all` which pull all new revision from my packages. Suddenly I have this broken state of company-box.

*the box are shrinked, very small*, I ca

[2020-09-13 17:49] sebastiencs commented on #129
Hello @azzamsa, most of the times this kind of issue is caused by another package.
I found your configuration https://github.com/azzamsa/emacs.d and tested it, but I couldn't reproduce the behavior on the gif.

Can you try to recompile `company-box`:
[code]

Is there any messages in the `*messages*` buffer ?

That would be great, any help in the area is more than welcome

[2020-09-13 22:56] azzamsa commented on #129
I have pushed my latest changes. I have some commits that not pushed.

----

![Peek 2020-09-14 05-54](https://user-images.githubusercontent.com/17734314/93030651-d6368280-f64e-11ea-9899-da13b82b5a77.gif)

After restating my Emacs, it appears to be fixed. Strange. I've tried to restart it multiple times yesterday.

I will reopen if the issue persists.

[2020-09-13 22:56] #129 closed

[2020-09-14 10:20] sebastiencs commented on #129
@azzamsa Please do. I have pushed some changes to not make the buffer blink with dimmer-mode

[2020-09-14 16:28] phisu opened #130 "error messages Wrong number of arguments"
i updated to company-box-20200914.1015
and to emacs 27.1.

now i get frequently following error-message:

Company: An error occurred in auto-begin
Company: frontend company-box-frontend error "Wrong number of arguments: ((t) (candidate) (concat (and company-prefix (propertize company-prefix 'face 'company-tooltip-common)) (substring (propertize candidate 'face 'company-box-candidate) (length compa

[2020-09-14 17:29] sebastiencs commented on #130
@phisu What is your configuration for `company-box` ? It looks like you have declared a function overriding the original one.

The face `company-box-candidate` is not used anymore so it's an old code.

[2020-09-15 02:04] azzamsa commented on #129
![Peek 2020-09-15 09-03](https://user-images.githubusercontent.com/17734314/93156429-541f8a00-f732-11ea-80d5-986744f9d82e.gif)

Works great!

[2020-09-15 02:05] azzamsa commented on #129
Thanks a lot for company box. Really appreciate. :tada:

[2020-09-16 05:39] phisu commented on #130
i am using the cetaur configration framwork

[2020-09-16 07:04] sebastiencs commented on #130
This is similar to https://github.com/sebastiencs/company-box/issues/127, you have an old version of a centaur config file somewhere

[2020-09-16 16:23] graphcareful commented on #44
I can confirm that the fix doesn't work for me. I also tried disabling golden-ratio-mode and when opening a company-box buffer I still see the issue.

[2020-09-16 18:36] sebastiencs commented on #44
@graphcareful Can you please share some information about your configuration.
Which OS are you using, window manager ?
How did you configure `company-box` ? Is your `.emacs.d` public by any chance ?

[2020-09-16 19:37] graphcareful commented on #44
Hi , I am using spacemacs, on Fedora 32, default window manager gnome3. I am configuring company-box like this:
`(auto-completion :variables
                 auto-completion-use-company-box t)`

I am not sure how company-* and autocomplete-* are supposed to work together. At first I suspected maybe two packages had conflicting configurations, but then I came here and noticed others having the same

[2020-09-16 20:20] sebastiencs commented on #44
@graphcareful I just installed spacemacs to test, the only modification I made is:
[code]

I then ran `[M-x] company-box`, and the scrollbar is correct:

![image](https://user-images.githubusercontent.com/5273820/93388012-a8df1400-f89c-11ea-88f5-f9578c961b4e.png)

So there is a package or customization that cause this issue.
If you could try to disable some package/customization made to find the c

[2020-09-16 21:53] sebastiencs commented on #44
@graphcareful Can you please set `company-box-debug-scrollbar` to `t`, use company-box and post the logs in the `*messages*` buffer

[code]

[2020-09-16 21:57] graphcareful commented on #44
You beat me to it :) was about to do the same thing. Yes, i'll try to find the offending package and paste the logs when I find.

[2020-09-16 22:28] graphcareful commented on #44
So I tried to emulate your exact settings and I am still seeing the issue.

![Screenshot from 2020-09-16 18-28-05](https://user-images.githubusercontent.com/53920668/93398923-77d5f380-f84a-11ea-9647-2e1cdda56a67.png)

[2020-09-17 15:48] sebastiencs commented on #44
@graphcareful Thanks !

Your issue seems different than the others

- Does the scrollbar always have a wrong size ? If not, did you notice when it happens (after the frame is resized, when you make the scrollbar moving, ...)
- When it has a wrong size, does it always have the same wrong size ? (width)
- I see that the documentation frame is on top of the frame with candidates, is that always the c

[2020-09-18 22:09] graphcareful commented on #44
In this stripped down config that only has autocomplete-mode and company-box installed...

- The scrollbar size changes as I scroll down. Initially it always starts with the correct size. Eventually as I scroll down it becomes wider and changes, sometimes disappearing then reappearing with a different size, sometimes it just changes from wide to even wider, then back again.
-  Nope it changes like

[2020-09-20 16:40] sebastiencs commented on #44
@graphcareful Thank you for the detailed answer.

It looks like to be an emacs bugs, or an issue with your window manager and/or compositor:
The frame is always keeping the same width, it should change.
The frame for the documentation has a position which depends on the candidates frame width.
The doc position is correct, so internally emacs has the correct width, but it doesn't update the display

[2020-09-21 05:26] #130 closed

[2020-09-21 15:48] graphcareful commented on #44
@sebastiencs ok i'll try without nativecomp as well

[2020-09-22 22:12] CsBigDataHub opened #134 "frontend company-box-frontend error "Args out of range: 0, 30" on command show"
company box error on auto-begin

[code]

`debug-on-error` gives me

[code]

[2020-09-22 22:24] #134 closed

[2020-09-22 22:31] CsBigDataHub opened #135 "frontend company-box-frontend error "Args out of range: 0, 16" on command show"
toggle-debug-on-error gives me

[code]

[2020-09-22 22:45] CsBigDataHub commented on #135
disabled `(setq company-box-highlight-prefix t)` referred in #123  to see if the error disappears but it still persists.

@seagle0128 can you please check if you are facing the same issue after the update?

[2020-09-23 09:12] seagle0128 commented on #135
I didn't encounter this issue.

[2020-09-23 16:04] CsBigDataHub commented on #135
Thanks @seagle0128

Just little bit more info -

pkg-version - `company-box-20200920.1650`
emacs-version - 27.1

config

[code]

[2020-09-23 20:47] ludwj61 opened #136 "Company box extremely slow with java jdtls lsp"
I believe company-box is causing huge slowdowns when the completion options are shown when I use the java jdtls server. I haven't noticed this much with other servers.

Holding scroll up or down causes visible lag/stutter, which also occurs when typing as completions pop up for the first time.

Here is a profile I took a little while back showing how much of a hog company box is in these cases, in

[2020-09-24 20:51] CsBigDataHub commented on #135
Can confirm that it is working with pkg-version - `company-box-20200829.1524`

[2020-09-27 10:45] sebastiencs commented on #135
@CsBigDataHub Does https://github.com/sebastiencs/company-box/commit/7696cebf6b87a80fbd45216fa2e7735e879af2c4 fix your issue ?

[2020-09-27 10:49] sebastiencs commented on #136
@ludwj61 The implementation of `company-box` has changed quite a lot lately and the report is with an old version.
The functions it highlight no longer exist, could you profile with the last version ?

Can you try to set `company-box-doc-enable` to `nil` ? See if it still occurs

[2020-09-27 14:28] seagle0128 commented on #135
@sebastiencs Now it looks like below. Is it as designed?

![image](https://user-images.githubusercontent.com/140797/94367363-cae45c00-0110-11eb-9f66-6f582677cbf2.png)

[2020-09-27 15:23] ludwj61 commented on #136
@sebastiencs Thanks for the reply. After updating to the latest version I still get the same stutter, however it does seem to happen a bit less frequently.
![image](https://user-images.githubusercontent.com/42984254/94368726-c3db3080-00b3-11eb-8a22-4786842ca4d1.png)

When setting doc to nil, though, the stutter goes away completely.

So since it seems that the cause is the doc preview, is there an

[2020-09-27 22:28] ludwj61 commented on #136
Interestingly, I just tried my same config on a ubuntu VM and the lag doesn't occur. This occurs on my arch machine and my manjaro machine.

[2020-09-27 22:43] CsBigDataHub commented on #135
@sebastiencs that did not work for me either.

this is what I see when I do `M-x toggle-debug-on-error`

using pkg-version - `company-box-20200927.539`

commit - 7696cebf6b87a80fbd45216fa2e7735e879af2c4

[code]

using pkg-version - `company-box-20200927.1457`

latest commit

[code]
Only difference I have noticed is that the error message for both the commits/version before I triggered
`M-x toggle-

[2020-10-02 18:13] sebastiencs commented on #135
@CsBigDataHub Can you set `debug-ignored-errors` to `nil` and reproduce the issue with `M-x toggle-debug-on-error` ?

@seagle0128 Unfortunately highlighting the prefix only is not possible since https://github.com/sebastiencs/company-box/commit/1ff1297dd03eb4ede7dfde509d7e4235e00b2f63
`company-box` now relies on `company-fill-propertize`. This feature should be implemented in `company-mode`

[2020-10-02 19:20] CsBigDataHub commented on #135
`debug-ignored-errors` has been set to nil.

![image](https://user-images.githubusercontent.com/23665525/94961368-210f2180-04ba-11eb-89e7-4120b86e4679.png)

yet do not see any difference in the messages buffer, same messages as earlier

[code]

[2020-10-02 20:11] sebastiencs commented on #135
@CsBigDataHub Can you try to recompile `company-box`:
[code]

Does the issue always occur or under certain conditions ?
What is your emacs version ? Which OS ?

I tried your full emacs configuration but it throws lots of error, so I couldn't test it

[2020-10-02 20:20] CsBigDataHub commented on #135
Emacs 27.1 , Macos Catalina

[2020-10-02 21:59] sebastiencs commented on #135
@CsBigDataHub  Looks like the error comes from shackle: https://github.com/wasamasa/shackle/blob/master/shackle.el#L412
I see that you configured it with some advices, can you try to completely disable that package ?

[2020-10-03 05:02] seagle0128 commented on #135
Thanks for update, @sebastiencs .  But in company-mode, it looks like this.
![image](https://user-images.githubusercontent.com/140797/94983799-ae18b000-0578-11eb-82b6-9298353c6172.png)

[2020-10-03 06:51] sebastiencs commented on #135
@seagle0128 Ah sorry I misunderstood your issue. Does https://github.com/sebastiencs/company-box/commit/09f90d8c1151121d704d93e4e3149e464441c9ba fix it ?

[2020-10-03 07:30] sebastiencs commented on #136
@ludwj61 Does https://github.com/sebastiencs/company-box/commit/914fefd391f183672ca5eb1a49cabab3aa5736d2 fix your issue ?
It seems that your server, java jdtls, is slow to return the documentation.
The solution would be to keep `company-box-doc-enable` to `nil` and manually call `company-box-doc-manually`, by binding it to a key

[2020-10-03 07:33] sebastiencs commented on #135
@CsBigDataHub Can you try https://github.com/sebastiencs/company-box/commit/405a7b7991228dba433938351e9296c4d899f86f, see if it fix your issue.
If not, please disable `shackle` and test again, as the error come from that package.

[2020-10-03 07:49] seagle0128 commented on #135
It does work now. Thanks a lot!

[2020-10-03 13:36] ludwj61 commented on #136
[914fefd](https://github.com/sebastiencs/company-box/commit/914fefd391f183672ca5eb1a49cabab3aa5736d2) fixes it! From what I tested so far it just seems to be working and there's no need to call the doc manually either.

Also, the docs themselves are usually very small with jdtls.

Thanks!

[2020-10-03 13:36] #136 closed

[2020-10-03 22:51] CsBigDataHub commented on #135
@sebastiencs Thanks for your effort again.

He is what I have done.

1. Disabled shackle.
2. Updated `company-box` to `company-box-20201003.725`

Here is the error in the messages buffer

[code]

Here is the error after enabling `toggle-debug-on-error`

[code]

[2020-10-04 07:54] sebastiencs commented on #135
@CsBigDataHub It should be fixed with https://github.com/sebastiencs/company-box/commit/be37a9a30dc112ab172af21af694e2cb04a74f85

Can you try again with shackle ? See if the error `"Invalid alignment size -14, aborting"` still occurs

[2020-10-04 16:35] CsBigDataHub commented on #135
@sebastiencs Thanks for the support. Enabled `shackle` and everything is working as intended.

Closing the issue.

[2020-10-04 16:35] #135 closed

[2020-11-02 11:05] laynor opened #138 "Last candidate cut out of the frame"
Wanna thank you first for your extension, really liking it so far!

I've got a small issue - when selecting the last candidate, instead of scrolling down to show the last line, the list of candidates scrolls up, so neither the last nor the second last line are shown anymore.

The gif I recorded is not the best - After `to_owned` is selected, I select `to_string`, which comes right after and is the

[2020-11-03 18:08] pedro-augusto-santana opened #139 "Misaligned icons with all-the-icons"
When I activate "all-the-icons" for company box, the icons get misaligned
`(setq company-box-icons-alist 'company-box-icons-all-the-icons)`
__Expected behavior__:
![image](https://user-images.githubusercontent.com/48259258/98023566-e31d5a00-1de5-11eb-8091-1f34f1e1ab60.png)
__ With all-the-icons enabled__:
![image](https://user-images.githubusercontent.com/48259258/98023800-31325d80-1de6-11eb-9627-

[2020-11-09 21:01] ludwj61 opened #140 "Doc header extends across entire screen"
![image](https://user-images.githubusercontent.com/42984254/98595456-03488f80-22a4-11eb-9d3d-caa158f90fbd.png)
When using python with the pyright lsp, I noticed that when I hover over a completion item that has a doc associated with it, the popup goes across my entire screen.

This does not occur with everything; completion items that have signature info but no doc work correctly, like print for e

[2020-11-10 15:26] KaratasFurkan commented on #139
You can fix it by changing vertical-adjust of all icons one by one, or you can change it everywhere with `all-the-icons-default-adjust` variable. But changing the variable temporarily during calculation of icons is better IMO. So you can use `let` and re-declare icons. Here is a block you can copy&paste from my old configuration: (note: icons and colors are selected by me, you can change the icon

[2020-11-16 23:23] akermu commented on #44
For me it's same issue as described here https://github.com/tumashu/company-posframe/issues/2. Setting `x-gtk-resize-child-frames` to `'hide` or `'resize-mode` fixes the issue.

[2020-11-17 22:57] rstcruzo commented on #138
@laynor I am seeing this too. Did you manage to find a workaround?

[2020-11-18 04:31] rstcruzo commented on #138
In my case this was caused by changing `line-spacing` to something bigger than default. It would be nice to be able to change line spacing without breaking company-box though

[2020-11-21 06:10] otavioschwanck commented on #140
Same here
![image](https://user-images.githubusercontent.com/9551316/99869085-22e68e80-2ba7-11eb-8ef4-7c2e4af40511.png)

[2020-11-23 02:19] ig-perez commented on #70
Hi, thanks for creating `company-box`! Sadly I'm also experiencing this issue. Actually I had 2 problems, one of these is described in [this](https://github.com/sebastiencs/company-box/issues/44) ticket but I was able to resolve it by setting the `x-gtk-resize-child-frames` to `'hide`.

But I still have the shrinking problem when going down to the second page of the completions popup.

First page

[2020-12-04 01:58] #124 closed

[2020-12-17 19:47] jsigman opened #143 "lsp-mode no longer supports `company-lsp`"
[LSP mode](https://github.com/emacs-lsp/lsp-mode/) no longer supports `company-lsp`, which is the only LSP backend supported by this package. Is it impossible to make this work with `company-capf`? This package looks awesome

[2020-12-18 00:35] tshu-w commented on #143
@jsigman as far as I know, `lsp-mode` has preferred to use `company-capf` by default for a long time.

[2020-12-19 18:49] jsigman commented on #143
Right on. Do you think there's a way to make this work with `company-capf`?

[2020-12-20 12:53] tshu-w commented on #143
I didn't quite catch you, to make what work with `company-capf`

[2020-12-23 02:07] emacsomancer opened #144 "[feature idea] display natural language definitions with company-ispell"
Similar to the way docstrings for candidates are displayed, it would be fun/maybe-useful to have the company-ispell completion be able to hook into a dictionary with definitions (and/or a thesaurus with alternatives) which would display in a box after a time-delay.

[2020-12-23 12:58] jsigman commented on #143
`company-box`?

[2020-12-23 13:59] tshu-w commented on #143
`company-box` does not conflict with `company-capf`, you just need enable `company-box-mode`

[2020-12-23 15:24] jsigman commented on #143
From the README:

The rich output of company-box is not enabled for `company-capf`, though... is this due to something fundamental in the way `company-lsp` works, compared to `company-capf`? My point is only that `company-lsp` is no longer an option if we want to use this package with LSP mode.

By the way, thank you for prompt answering of questions. This mode looks cool and I would love to make

[2020-12-26 20:35] nbfalcon commented on #143
Rich output works for me with `company-capf` and `lsp-completion-at-point`.

[2020-12-27 14:14] zw963 opened #146 "company-box change my tab behavior in tooltip."
I use following code to try to use company like auto-complete.

[code]
e.g. when press TAB in tooltip, instead of complete current candidate, it select next candidate.

But, after enable company-box, TAB's behavior change to complete current candidate.

### What i expected:

I hope i can use company-box, but without change my previous TAB behavior. (select next candidate)

Thank you.

[2021-01-06 03:47] ig-perez commented on #15
I also wanted to change the font face of the documentation and candidates list. I thought that was defined by `company` but it seems `company-box` overrides those faces, so thanks to the code snippet of @stardiviner I was able to make the adjustment like this:

[code]
I'm not quite happy with that since I was using a default face setting like this:

[code]
Then inheriting from it to adjust the fon

[2021-01-06 04:33] stardiviner commented on #15
@ig-perez You can define a variable of cons like `'("JetBrains Mono" . 130)`, And use this variable in font setting to avoid hardcoded style.

[2021-01-16 12:33] MunsterPlop commented on #143
I can confirm it works for me out of the box as well.

[2021-01-22 20:38] #143 closed

[2021-01-23 22:32] anupam312nwd commented on #111
Hi, I am also getting this error in company-box.
Using `toggle-debug-on-error`, I am getting the following:
[code]

[2021-01-27 11:43] iris-garcia opened #148 "Weird face colors when changing themes"
Initially, I reported this in the modus-themes here: https://gitlab.com/protesilaos/modus-themes/-/issues/152 but the issue seems to be in company-box.

Changing themes breaks the colors of company-box:

First theme:
![](https://gitlab.com/protesilaos/modus-themes/uploads/0359c307c8b6d0f6eade8092af389dff/image.png)

After switching to another theme:
![](https://gitlab.com/protesilaos/modus-themes/

[2021-01-28 08:56] MoskitoHero commented on #111
I'm having the same issue in `Doom-Emacs` too with ruby. This is the debug output I get:

[code]

[2021-01-28 09:22] anupam312nwd commented on #111
The error does not seem specific to any programming language as once it shows this error, I get completion-error in all modes once I start getting this error. similar issue reported on `doom-emacs` here: https://github.com/hlissner/doom-emacs/issues/4000
and corresponding (temporary) fix: https://github.com/hlissner/doom-emacs/commit/15d976142c3ce9d670f54d8b8be9143af57ef42f.

[2021-01-29 22:46] FelipeLema opened #149 "tab line visible in gccemacs (28)"
Compiled gccemacs against [b8d3ae78](http://git.savannah.gnu.org/cgit/emacs.git/commit/?h=feature/native-comp&id=b8d3ae78c54db7c7bb65d367a80f9be3d8744c48) I can see the Tab Line of company-box (see the picture below).

<img width="457" alt="tab-bar" src="https://user-images.githubusercontent.com/1232306/106334994-9ae9c880-626a-11eb-8424-c47803ab68d4.PNG">

Since you're reading this: thank y'all fo

[2021-02-07 23:18] rileyrg opened #151 "Request for abstraction away from company."
This has GREAT documentation popup. It would be really nice to wire this up to elisp buffers for on timer or hotkey invocation to display the function or var at point help in a pop-up. I had a quick look at the code but way too complex for me to figure out.

[2021-02-22 17:15] douglasdavis opened #153 "dash-functional is deprecated (drop it and require dash 2.18.0)"
See https://github.com/magnars/dash.el/issues/356

[2021-02-22 17:15] douglasdavis commented on #153
Just realized there is a PR for this (https://github.com/sebastiencs/company-box/pull/152), sorry for the noise.

[2021-02-22 17:15] #153 closed

[2021-03-01 02:38] laynor commented on #138
I still have the issue with `company-box-icons-alist` set to `all-the-icons`.  Switching to `image` solves the issue for me. It might be some issue with my fonts, or anyway, non-constant font height. Some lines appeared taller than most (I think the ones with the cube icon).
@rstcruzo Thanks for pointing me in the right direction with your last comment, although a different issue, it made me focus

[2021-03-02 13:27] windrg opened #154 "incomplete popup at the very first time of completion"
It shows the very tiny incomplete candidate popup menu at the very first time of completion as below.

![image](https://user-images.githubusercontent.com/506484/109655179-51143b00-7ba6-11eb-8622-f54a671a7028.png)

However it starts working well after the very first time.
Here's my configuration.
[code]
Could you give me some guide how to fix or avoid this situation, please?

[2021-03-06 05:18] genovese opened #155 "company-box faces improperly overriding company faces"
When loading company-box after company, a variety of the faces from company get redefined with circular inheritance. For instance, `company-tooltip-selection` ends up a blank font that inherits from `company-tooltip-selection`.  I have to go and reset all these faces manually, even though the original company definitions are good ones.

I _think_ this stems from the code in `company-box.el` lines

[2021-03-08 14:29] Zephyy-Source commented on #154
Same. I guess this is a bug.

[2021-03-20 12:35] seagle0128 opened #157 "compilation warning: dash-functional is obsolete"
I got this warning in Emacs 28.0.50.
[code]

[2021-03-27 17:46] ianpan870102 commented on #79
I'm currently on a WSL2+Windows10 machine, and this flickering issue doesn't exist anymore. I suppose it has to do with macOS support after all. Closing this issue as it doesn't seem to be the scope of this package.

[2021-03-27 17:46] #79 closed

[2021-03-28 16:00] joostkremers opened #158 "`company-box-frontend` error."
Hi, after a recent update of `company`, I now get the following error when `company-box` should kick in:

[code]

Any idea what might be causing this?

[2021-03-28 16:03] dgutov commented on #158
Please `M-x toggle-debug-on-error` and post the full backtrace.

[2021-03-28 16:37] joostkremers commented on #158
I get the following backtrace:

[code]

[2021-03-28 18:14] dgutov commented on #158
Thanks. That should be easy enough to fix in `company-box--end-of-common`.

The `face` property isn't always a list now: `add-face-text-property` also adds singleton values, not creating lists unnecessarily.

[2021-03-29 03:59] on99 commented on #158
BTW, I got such an error `Company: frontend company-box-frontend error "Invalid alignment size -14, aborting" on command show`, what could be the possible cause of this issue?

[2021-03-29 04:35] on99 commented on #158
refs #123
refs #135

[2021-03-29 09:34] MatthewZMD commented on #158
Also experiencing this issue.

[2021-03-30 02:13] 7ym0n commented on #158
me too...

[2021-03-30 11:52] joostkremers commented on #158
@dgutov Thanks, that helped me create a patch. Not sure if it's the best way to solve it, but at least `company-box` is working again. Hopefully, @sebastiencs will find some time to merge the patch or come up with a better one.

[2021-03-31 05:26] 7ym0n opened #162 "company-box-frontend error Wrong type argument: frame-live-p"
Company: frontend company-box-frontend error "Wrong type argument: frame-live-p, #<dead frame  000000000f5694b0>" on command hide [2 times]

Debugger entered--Lisp error: (wrong-type-argument number-or-marker-p nil)
  company-select-next-or-abort(1)
  funcall-interactively(company-select-next-or-abort 1)
  call-interactively(company-select-next-or-abort nil nil)
  command-execute(company-select-ne

[2021-04-18 11:51] rolodim commented on #154
Also couldn't set up company-box to render correctly. Even after any number of attempts of completion.

![company-box-issue](https://user-images.githubusercontent.com/68685850/115144468-82ad6c80-a055-11eb-8a01-b7170bd01d6f.png)

[2021-04-29 06:31] patrolli commented on #162
I have faced the same issue

[2021-04-29 06:57] patrolli commented on #162
The error backtrace is:
Debugger entered--Lisp error: (wrong-type-argument frame-live-p #<dead frame  0x6e81360>)
  make-frame-invisible(#<dead frame  0x6e81360>)
  company-box-doc--hide(#<frame   *Minibuf-1* --- 2021/4/29(14:53) 0x2939e90>)
  run-hook-with-args(company-box-doc--hide #<frame   *Minibuf-1* --- 2021/4/29(14:53) 0x2939e90>)
  company-box-hide()
  company-box-frontend(hide)
  company-

[2021-05-01 23:43] SreenivasVRao opened #165 "company-box clips off to the edge of the screen"
https://i.imgur.com/cF1DBCD.png

As you can see - the doc string shows up in a childframe which doesn't wrap at the edge of the screen. On dual monitors, the problem is that the doc string shows up in a childframe spanning multiple monitors:

https://media.discordapp.net/attachments/406554085794381833/825157364344029274/Screen_Shot_2021-03-26_at_7.55.13_PM.png?width=2160&height=375

Any advice on

[2021-05-06 00:16] basil-conto commented on #157
See #152.

[2021-05-09 18:03] ianpan870102 commented on #70
@ig-perez I might just have the perfect fix for you. Try the variables controlled by company-mode (not company-box):

[code]

[2021-05-15 10:42] NightMachinary commented on #103
Any ideas on alternatives that do work in a TTY?

[2021-05-15 11:27] NightMachinary opened #166 "[Q] How to set the default value for all other backends in `company-box-backends-colors`?"
I currently have:
[code]

But I like to set a general rule that sets `(:selected (:background "light green" :foreground "black"))` for all other backends.

[2021-05-17 19:34] gnusuari0 commented on #154
I'm affected by this, too.

[2021-05-23 16:44] ig-perez commented on #70
Thank you @ianpan870102 I just tried that out and worked perfectly!.

[2021-07-09 16:17] CsBigDataHub opened #167 "New changes in company-mode not compatible with company-box. This is making emacs unusable"
https://github.com/company-mode/company-mode/blob/master/NEWS.md

mainly `company-show-numbers` variable.

[2021-07-09 17:17] seagle0128 commented on #167
I encountered the same issue. The recent changes of `company` broke `company-box`.
I got this error:

[code]

[2021-07-09 18:56] #167 closed

[2021-07-09 21:01] DarkWingMcQuack commented on #167
This gave me a headache  for the last hour thanks for resolving it that fast

[2021-07-09 21:08] CsBigDataHub commented on #167
No worries @DarkWingMcQuack.  You might be also interested in PR #169 if you enabled `company-numbers`.

[2021-08-01 06:38] yuchunzhou opened #173 "comapny-box doesn't work correctly"
when the company-box starts to work, it will open another two black emacs window, one is started when company-box starts to show completion items, the other one is started when company-box starts to show the document

emacs version: 27.2
os: os x 10.15.7

[2021-08-31 16:26] jmromer opened #175 "Error: "wrong-type-argument window-live-p nil" when attempting completions"
Steps to reproduce:

1. Open to TypeScript-TSX mode buffer
2. Begin typing to trigger a completion attempt
3. Exception is raised

[code]

Debug info:

[code]

[2021-09-02 23:08] #175 closed

[2021-09-17 08:50] 354651432 opened #176 "cannot see current selected item"
uncompany-boxed
![gnome-shell-screenshot-QYB090](https://user-images.githubusercontent.com/8469080/133754930-dd833503-5fbd-498e-87f6-290226e9c139.png)

company-boxed
![image](https://user-images.githubusercontent.com/8469080/133753930-d6b28bfe-088d-4036-ad4d-124eda0ab8c4.png)
current item is `use-package-hush`, but its background hight light is missing

[2021-09-20 18:51] HawkinsT commented on #165
I have the same issue. I'm very new to emacs and don't know elisp so a 'proper' solution that could form a pull request is beyond me, however you can manualy set the documentation frame size [here](https://github.com/sebastiencs/company-box/blob/156f65cfbf690ed84e0e84f90277d665d873ff24/company-box-doc.el#L80). I've changed mine to `((width . height) (window-text-pixel-size window nil nil 800 10000

[2021-09-21 16:11] NightMachinary commented on #165
Patching the mentioned line, the problem is that the frame is not soft-wrapping at all:
![image](https://user-images.githubusercontent.com/36224762/134207360-f18f2356-2842-46e2-a0f1-787eeebe181a.png)

[2021-09-21 16:21] NightMachinary commented on #165
To fix this, I needed to add `(toggle-truncate-lines -1)` to the end of the function `company-box-doc--make-buffer`.

[code]

BTW, you do not need to edit the original files. You can copy the functions to your own personal config and edit them there; The new definitions would override the old ones (if you load `company-box` before them).

I hope these two patches are merged into the master, as the

[2021-09-21 18:57] HawkinsT commented on #165
Thanks, I've just proposed a commit that makes the above the default behaviour. I've also added the company-box-doc-no-wrap option in case anyone wishes to keep the existing behaviour.

[2021-09-30 00:57] oschonrock commented on #154
yup not usable as is?

[2021-10-07 03:21] AlonTzarafi commented on #138
If you want both company-box and line-spacing it's possible.
As long as you use `(setq-default line-spacing 0)`, Then you can still call `(setq line-spacing 0.2)` on individual buffers to customize the look and company-box still works correctly and shows the last candidate.

[2021-10-07 19:45] memeplex opened #178 "Unable to make it work with all-the-icons"
This is my related configuration:

[code]

Also `all-the-icons-install-fonts` successfully ran and the icons are there in `~/Library/Fonts` as expected.

Still I only get this, no matter what:

![image](https://user-images.githubusercontent.com/2845433/136451955-635a3c23-6729-4fce-805f-746e46b21bf8.png)

I also tried replacing `:init` with `:custom` or `:config`, to no avail.

[2021-10-07 20:41] memeplex commented on #178
I realized that it depends on the context of completion:

![image](https://user-images.githubusercontent.com/2845433/136458587-590e3bce-5109-4ea7-942f-e0da5db630f3.png)

It seems as if at this point it's expecting a function, I don't know, maybe outside the parens is kind of a hippie thing.

If that's so by design please feel free to close (but a brief explanation will be appreciated).

If it's an

[2021-10-08 20:19] memeplex opened #179 "Ill vertical alignment with all-the-icons"
![image](https://user-images.githubusercontent.com/2845433/136620083-23866c52-3daf-43c4-92f4-c62d31ead110.png)

I can fix the company-box issue by setting all-the-icons-default-adjust to 0 (default was -0.2). That's fine but it's still a global setting and I'm not sure I'm not breaking anything else.

I've reported it upstream in https://github.com/domtronn/all-the-icons.el/issues/287 but, again,

[2021-10-12 11:14] DivineDominion opened #180 "company-box--height doesn't take default line-spacing into account and clips lines"
When displaying the overlay box, the `char-height` is used to compute the total height of the box:

    (-let* (...
            (char-height (frame-char-height frame))
            ...))

Thing is: `char-height` isn't aware of additional `line-spacing`.

#### Example

Given this document:

[code]

And given `(setq-default line-spacing 0)` (default),

and company-mode with the capf and dabbrev backe

[2021-10-14 04:38] memeplex opened #182 "Scrolling with trackpad doesn't work"
I can't get company-box work with the touchpad in my macbook.

Scrolling down doesn't present new options but just empty entries:

https://user-images.githubusercontent.com/2845433/137252726-ea118446-5bae-45f1-8c9f-98c916f8aa67.mov

I'm using emacs-28 branch built from sources and revision 156f65cfbf690ed84e0e84f90277d665d873ff24 of company-box.

[2021-10-14 04:38] #178 closed, assigned to nobody

[2021-10-14 04:40] memeplex commented on #179
Closing, I've just realized it's a dup of https://github.com/sebastiencs/company-box/issues/139.

[2021-10-14 04:40] #179 closed

[2021-10-14 23:17] memeplex opened #183 "Wrong scrollbar with only two candidate completions"
This is in an org file using the standard org mode completion at point:

![image](https://user-images.githubusercontent.com/2845433/137407832-a80046f3-9d3a-46ce-97bb-63e9c57d3a0a.png)

The issue won't happen immediately, first trigger some completion that shows many options, for example in the scratch buffer try to complete `(def`, then go to an org mode file and trigger the simple completion as i

[2021-10-31 09:57] atanasj commented on #81
@jkroes,I have since moved to the Doom configuration and I don't have this problem. However, I don't know what icon set is configured with Doom or how the original problem arose in the first place.

[2021-11-20 23:16] davidbudzynski commented on #81
I'm on Doom Emacs and I still can see company-box-doc showing as a single line

[2021-12-01 17:04] SreenivasVRao commented on #165
@sebastiencs any chance you can review this soon? :)

[2021-12-15 06:59] vijaypanchalr3 opened #184 "icons-in-terminal not working"
i'm not good at elisp so i copied snippet from icons to fonts snipped. but it didn't work.

[2021-12-27 07:51] Yevgnen commented on #155
Same issue here

[2022-01-07 09:33] bk138 opened #185 "Is there a way to disable highlight by mouse pointer"
I could not find any customization, so this might as well be a feature request ;-)

Background is a UX one: when a completion pops up, my mouse cursor is sometimes in the area, highlighting some random candidate. I always have to move the mouse out first to gain an overview of candidates.

Alternative solution: only trigger candidate highlight my when mouse cursor is actually moved into the candid

[2022-01-12 16:56] cjk commented on #162
Yep, same here. It's hard to reproduce, only happening intermittently. Workaround is opening a new frame and closing the old one.
But that is annoying of course.

[2022-01-17 08:50] DiogoFerrari opened #186 "Company box mess with frame config"
Please, remove `(require 'frame-local)`. It messes with many other frame config.

[2022-03-27 09:49] avatar-lavventura commented on #103
@sebastiencs Does it still does not work on terminal (CLI)?

[2022-05-14 14:16] ChinaChenGuang opened #187 "Error"
After the installation of the document is completed, EMACS reports an error:
`Error in delayed-warnings-hook(display-delayed-warnings):(void-variable company-quick-access-hint-function)`

[2022-09-09 20:20] #165 closed

[2022-09-09 20:25] sebastiencs commented on #186
@DiogoFerrari Can you please describe the issue ? What does it affect exactly ?

[2022-09-09 20:34] sebastiencs commented on #185
Hello @bk138 , yes you can customize the face `company-tooltip-mouse`

I will check if that's possible

[2022-09-09 20:36] sebastiencs commented on #187
@ChinaChenGuang What version of `company-mode` are you using ?

[2022-09-09 20:37] #157 closed

[2022-09-10 00:35] DiogoFerrari commented on #186
It is fixed now. It was a while ago, so no idea about how to reproduce.

[2022-09-10 13:56] sebastiencs commented on #111
Should be fixed with https://github.com/sebastiencs/company-box/commit/4dc0d9841aca2437f68f07aa540a3fab365ecff1

[2022-09-10 14:01] sebastiencs commented on #149
Fixed with 79abd77f3357279c2726b74f8b20df27b71aa867

[2022-09-10 14:01] #149 closed

[2022-09-10 14:03] sebastiencs commented on #158
Fixed with https://github.com/sebastiencs/company-box/commit/aa5f09a5492344e3cc831f0f169a6a8345dec358

[2022-09-10 14:03] #158 closed

[2022-09-12 10:17] dario-exads commented on #162
@sebastiencs Taking a look during the day. I'll report back 👍

[2022-09-13 10:46] dario-exads commented on #162
Seem to be happening still:

Although it says window-live-p, rather than frame-live-p.

Running latest release:

[2022-09-13 18:38] sebastiencs commented on #162
@dario-exads Can you please enable the debugger (with `M-x toggle-debug-on-error`) and reproduce the bug.
It will show a backtrace, can share it here

[2022-09-14 08:10] dario-exads commented on #162
@sebastiencs Done. I'll see if the error reproduces again. Yesterday I didn't encountered again after that first error 🤞 .

[2022-09-14 10:27] dario-exads commented on #162
I faced the error again, I don't see the trace though:
[code]

Am I missing something? I enabled debug on error with `M-x toggle-debug-on-error` but I just see the error message on the echo area.

In there any way I can see the source of this error?

[2022-09-14 16:33] sebastiencs commented on #162
@dario-exads hmm weird, the backtrace should show up.
Did you close/restart emacs after that `M-x toggle-debug-on-error` ?

Instead of calling `toggle-debug-on-error`, you can set `(setq debug-on-error t)` in your `init.el`

[2022-09-14 16:53] dario-exads commented on #162
I'll set `debug-on-error` variable on my init, just to be sure :)

[2022-09-22 16:14] dario-exads commented on #162
I haven't seen the issue so far, at least no that I remember. I'd consider this issue solved from my side.

[2022-09-24 11:31] paaguti commented on #187
Same here `company-mode == 0.9.13`
`M-x p-l-p` doesn't show company-box`

[code]

[2022-10-08 12:35] dolerich-hirnfiedler opened #190 "company-box-doc breaks lsp-java snippets"
https://user-images.githubusercontent.com/87950162/194707798-24b6f0b1-95bc-4af0-b6ab-1e33879a8246.mp4

As you can see in the video, if I expand the snippet without the doc open it works fine, but if I have the doc open, it doesn't expand how it should.

[2022-10-13 13:56] dario-exads commented on #162
So, I don't see the error anymore but I also don't have completion. Definitely related to having two windows open.

[2022-10-18 08:43] anoduck opened #191 "Company Box crashes EMACS on first display"
It has taken me two weeks to figure out what has been happening to my EMACS installation. This package is so cool, I didn't even want to consider it as a culprit. Unfortunately, once disabled, I realized my life was over as I knew it... :(
The love was lost...

The problem has been very little output to inform what has been happening, this was what I received when I ran emacs-gtk3 from the termina

[2022-10-21 08:25] anoduck commented on #191
Nope, it is not company box... must be something else.

[2022-10-21 08:25] #191 closed

[2022-10-22 12:40] patrickaldis commented on #187
can confirm, same here

[2022-11-01 22:22] anoduck opened #192 "Company-Box causes EMACS to freeze and slow to respond, never actually displays any completions."
Since installing company-box, I have lost the company dropdown menu, and company appears to have stopped functioning altogether. Emacs freezes all together when asked to perform a completion, and is in general slow to respond. Since installing, I have yet to actually see a completion box dropdown.

[2022-11-02 18:54] ig-perez commented on #187
Same issue here, company version is 0.9.13

[2022-11-27 11:29] zhangjie2012 commented on #187
+1